<form class="text-container-form">
    <label for="text" class="section-header">Improve your text</label>
    <textarea class="form-input" id="text" data-id="text" required></textarea>
    <div class="form-item text-menu">
        <label class="form-label" for="prompt">Additional Indications</label>
        <textarea id="prompt" data-id="prompt" class="form-input"></textarea>
    </div>
    <div class="form-footer">
        <div class="form-item select-item">
            <label class="form-label" for="personality">Personality</label>
            <select class="form-input" id="personality" name="personality" data-id="personality">
                <option selected value="">None</option>
                $$personalitiesHTML
            </select>
        </div>
        <div class="buttons-section">
            <button class="general-button" data-local-action="improveText">Improve Text</button>
            <button class="general-button hidden" data-local-action="replaceText">Accept</button>
        </div>
    </div>
</form>
