applications-marketplace-page{
    display:flex;
    height: 100%;
}
.applications-marketplace-page{
    width: calc(100% - 270px);
    position: relative;
}
.marketplace-table{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:100%;
    gap:40px;
    overflow:hidden;
    padding:0 40px;
}
.space-controls{
    display: flex;
    align-items: center;
    padding: 20px 40px;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.add-marketplace{
    margin: 40px 40px 40px 0;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--white-text);
    background: var(--medium-blue);
    width: fit-content;
    height: 36px;
    padding: 6px 11px 6px 11px;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
}
.category-header{
    padding: 0 40px 20px 40px;
}
.category-title{
    font-size: 32px;
    font-weight: 600;
}
.description{
    color: var(--medium-gray);
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-width: 1800px) {
    .marketplace-table{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.applications-marketplace-page::before {
    z-index: -1;
    content: "";
    background-image: url('../../../assets/images/space-background.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}