dialog{
    width: 480px;
}
generate-image-modal{

}
.images-section{
    height: 300px;
}
.left-section{
    display: flex;
    align-items: center;
}
.modal-body{
    padding: 0;
}
#prompt{
    border: none;
    resize: none;
    background-color: var(--modal-background);
    height: 80px;
}
#prompt:focus{
    outline: none;
}
.padding{
    padding: 20px;
}
.modal-footer{
    padding: 20px;
    border-top: 1px solid var(--very-light-gray);
    justify-content: space-between;
}
.select-variants-container{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.select-variants{

}
.images-section{
    padding: 0 10px;
    overflow: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.generated-image{
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin: 10px;
}
.image-unit{
    position: relative;
}
.image-menu{
    position: absolute;
    background-color: #200C0C54;
    top: 11px;
    left: 10px;
    visibility: hidden;
    width: 130px;
    height: 130px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.image-checkbox{
    visibility: hidden;
    position: absolute;
    bottom: 17px;
    left: 10px;
}
.small{
    font-size: 13px;
}