<link rel="stylesheet" href="./wallet/components/modals/add-new-document-modal/add-new-document-modal.css">
<div class="modal-dialog" role="document" data-presenter="add-new-document-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Add new document
                <button type="button" class="close" data-local-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-item">
                    <label class="form-label" for="document-name">Name</label>
                    <input class="form-input" name="documentTitle" data-id="document-name" type="text" id="document-name" required placeholder="Add document's name">
                </div>

                <div class="modal-footer">
                    <button type="button" class="wide-btn" data-local-action="addDocumentSubmitForm">Add document</button>
                </div>
            </form>
        </div>
    </div>
</div>