translate-document-modal{
    display: block;
    width: 500px;
}
translate-document-modal .modal-footer{
    margin-top: 10px;
}

#language,
#personality{
    width: 200px;
}
.inputs-container{
    display: flex;
    justify-content: space-between;
}