dialog {

    width: 60%;
}
#content{
    resize: none;
    height: 200px;
    font-family: var(--default-font);
}
.form-footer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
