<div class="action-box">
    <list-item class ="$$data-move-arrows" data-local-action="moveChapter up" data-name="Move Up" data-highlight="light-highlight"></list-item>
    <list-item class ="$$data-move-arrows" data-local-action="moveChapter down" data-name="Move Down" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="addChapter above" data-name="Add Chapter Above" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="addChapter below" data-name="Add Chapter Below" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="downloadAllAudio" data-name="Download All Paragraphs Audio" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="deleteChapter" data-name="Delete" data-highlight="light-highlight"></list-item>
    <list-item class="$$data-download-video" data-local-action="downloadCompiledVideo" data-name="Download Video" data-highlight="light-highlight"></list-item>
    <list-item class="$$data-compile-video" data-local-action="compileChapterVideo" data-name="Compile Video" data-highlight="light-highlight"></list-item>
    <list-item class="$$data-delete-video" data-local-action="deleteCompiledVideo" data-name="Delete Video" data-highlight="light-highlight"></list-item>
</div>
