action-box-chapter{
    position: absolute;
    z-index: 5;
    right: 15px;
    top: 10px;
    box-shadow: 0px 1px 7.3px 0px #00000040;
    font-size: 14px;
}

.action-box{
    background-color: var(--white);
    padding: 5px 0;
}
#hide .optional{
    display: none;
}