<div class="action-box">
    <list-item class="optional" data-local-action="moveChapter up" data-name="Move Up" data-highlight="light-highlight"></list-item>
    <list-item class="optional" data-local-action="moveChapter down" data-name="Move Down" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="insertBackgroundSound" data-name="Insert Background Sound" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="addChapter above" data-name="Add Chapter Above" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="addChapter below" data-name="Add Chapter Below" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="downloadAllAudio" data-name="Download Audio" data-highlight="light-highlight"></list-item>
    <list-item data-local-action="deleteChapter" data-name="Delete" data-highlight="light-highlight"></list-item>
</div>
<input type="file" id="file" class="hidden" accept="audio/*" >
