<div class="action-box">
        <button data-local-action="moveChapter up" data-name="Move Up" data-highlight="light-highlight">
            <img src="./wallet/assets/icons/arrow-up.svg" alt="Move Up">
        </button>

        <button data-local-action="moveChapter down" data-name="Move Down" data-highlight="light-highlight"
                class="toolbar-margin rotate-down pointer black-icon">
            <img src="./wallet/assets/icons/arrow-up.svg" alt="Move Down">
        </button>

        <button data-local-action="addChapter above" data-name="Add Chapter Above" data-highlight="light-highlight">
            <img src="./wallet/assets/icons/square-plus.svg" alt="Add Chapter Above">
        </button>

        <button data-local-action="addChapter below" data-name="Add Chapter Below" data-highlight="light-highlight">
            <img src="./wallet/assets/icons/below.svg" alt="Add Chapter Below">
        </button>

        <button data-local-action="downloadAllAudio" data-name="Download All Paragraphs Audio" data-highlight="light-highlight">
            <img src="./wallet/assets/icons/downloadAudio.svg" alt="Download All Paragraphs Audio">
        </button>

        <button data-local-action="deleteChapter" data-name="Delete" data-highlight="light-highlight">
            <img src="./wallet/assets/icons/delete.svg" alt="Delete Chapter">
        </button>

        <button data-local-action="downloadCompiledVideo" data-name="Download Video" data-highlight="light-highlight"
                class="$$data-download-video">
            <img src="./wallet/assets/icons/downloadVideo.svg" alt="Download Video">
        </button>

        <button data-local-action="compileChapterVideo" data-name="Compile Video" data-highlight="light-highlight"
                class="$$data-compile-video">
            <img src="./wallet/assets/icons/compile.svg" alt="Compile Video">
        </button>

        <button data-local-action="deleteCompiledVideo" data-name="Delete Video" data-highlight="light-highlight"
                class="$$data-delete-video">
            <img src="./wallet/assets/icons/deleteVideo.svg" alt="Delete Video">
        </button>

</div>
