space-configs-page{
    display: flex;
    height: 100%;
    overflow: hidden;
}
.right-sidebar{
    display: inline-block;
    width: 270px;
    transition: transform 0.3s ease;
}
.right-sidebar{
    padding: 20px;
    background: white;
}
.sidebar-item{
    padding: 10px;
}
.sidebar-item-title{
    margin-left: 10px;
    color: var(--left-sidebar);
    font-weight: 600;
}
.expand-button{
    color: white;
    width: 10px;
    background-color: var(--medium-blue);
    border-right: 10px;
    position: absolute;
    top: 50%;
    left: -10px;
}
.current-page{
    width: calc((100% - 270px) / 2);
    transition: width 0.3s;
    min-width: 350px;
}
.hide-sidebar{
    padding-left: 10px;
    font-weight: 300;
    color: var(--medium-blue);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.drag-separator{
    cursor: grab;
    background-color: black;
    width: 1px;
    height: 100%;
    position: relative;
}
.drag-separator:active {
    cursor: grabbing;
}
.drag-icon{
    color: white;
    top: 50%;
    background-color: var(--medium-blue);
    border-right: 10px;
    position: absolute;
}
.left-drag{
    left: -9px;
}
.right-drag{
    left: 1px;
}