space-configs-page{
    display: flex;
    height: 100%;
    overflow: hidden;
}
.right-sidebar{
    display: inline-block;
    width: 270px;
    transition: transform 0.3s ease;
}
.right-sidebar{
    padding: 20px;
    background: white;
}
.sidebar-item{
    padding: 10px;
}
.sidebar-item-title{
    margin-left: 10px;
    color: var(--left-sidebar);
    font-weight: 600;
}
.toggle-sidebar{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -10px;
}
.current-page{
    width: calc(50% - 135px);
    transition: width 0.3s;
    min-width: 350px;
}
.hide-sidebar{
    padding-left: 10px;
    font-weight: 300;
    color: var(--medium-blue);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.drag-separator{
    cursor: grab;
    width: 3px;
    height: 100%;
    position: relative;
}
.drag-line{
    height: 100%;
    width: 1px;
    background-color: var(--right-sidebar-border);
    position: absolute;
    left: 0;
}
.drag-separator:active {
    cursor: grabbing;
}
.drag-separator:active > .drag-icon{
    visibility: visible;
}
.drag-separator:hover > .drag-icon {
    visibility: visible;
}
.drag-icon:hover{
    visibility: visible;
}
.drag-icon{
    visibility: hidden;
    top: 50%;
    right: -7px;
    position: absolute;
}
.arrow-rotated{
    transform: rotate(180deg);
}