edit-variable-tab{
    height: 100%;
}
edit-variable-tab .form-item{
    margin-bottom: 20px;
}
.expression-multi-line {
    resize: none;
}
.edit-variable-form{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.grouped-inputs{
    display: flex;
    gap: 10px;
}
.half-width{
    width: 50%;
}
.conditional-command-item{
    flex-direction: row;
    align-items: center;
}
.right-margin{
    margin-right: 10px;
}
.expression-multi-line{
    height: 140px;
}
.save-variable{
    margin-top: 55px;
    align-self: flex-start;
}
#type{
    width: 49%;
}
/*search select*/
#command{
    padding-right: 35px;
}
.search-select{
    color: var(--form-input);
    position: relative;
}
.search-select-input{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 7px;
}
.select-options{
    width: 100%;
    border: 1px solid var(--form-input-border);
    background-color: var(--white);
    position: absolute;
    top: 40px;
    left: 0;
    max-height: 195px;
    overflow-y: scroll;
    border-radius: 5px;
}
.option{
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}
.option:hover{
    background-color: var(--option-hover);
}
.option.selected{
    background-color: var(--action-button-background);
}
/*search select*/