edit-variable-tab{
    height: 100%;
}
.expression-multi-line {
    resize: none;
}
.modal-body{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
}
.grouped-inputs{
    display: flex;
    gap: 10px;
}
.grouped-inputs > div {
    width: 49%;
}
.right-margin{
    margin-right: 10px;
}
.expression-multi-line{
    height: 140px;
}
.save-variable{
    margin-top: auto;
    align-self: flex-end;
}
#type{
    width: 49%;
}
#command{
    height: 37px;
}