.expression-multi-line {
    resize: none;
}
#name{
    width: 150px;
}
#command{
    width: 100px;
}
.grouped-inputs{
    display: flex;
}
.right-margin{
    margin-right: 10px;
}
.expression-multi-line{
    height: 140px;
}