.organization-list {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    background-color: #180e49;
    min-width: 160px;
    right: 10px;
    overflow: auto;
    border-radius: 15px 0 15px 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

company-unit {
    color: #FFF;
    cursor: pointer;
    padding: 5px 10px;
}

company-unit:hover {
    background-color: #6559a2;
}

.organization-dropbox {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
    max-width: fit-content;
    color: #FFF;
    font-family: Poppins;
}

.organization-name {
    margin-right: 10px;
}

.company-dropdown {
    position: relative;
    display: inline-block;
}