<link rel="stylesheet" href="./wallet/web-components/components/company-dropdown/company-dropdown.css">
<div class="company-dropdown" data-presenter="company-dropdown">
    <div class="organization-dropbox" data-local-action="showOrganizations">
        <div class="organization-name">$$currentCompanyName</div>
        <img src="./wallet/assets/icons/arrow.svg" alt="arrow">
    </div>
    <div class="organization-list">$$companiesDiv
        <button data-local-action="addOrganization">Add Organization</button>
    </div>

</div>
