dialog[class="modal"] {
    padding: 0;
    border:none;
}

* {
    font-family: Poppins;
}

.modal-content {
    padding: 20px;
}

.modal-title {
    color: var(--black);
    font-size: 18px;
    font-family: Poppins;
}

.close {
    cursor: pointer;
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}

.form-label {
    color: var(--gray-black);
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
}

.form-input {
    border-radius: 8px;
    border: 0.5px solid var(--lighter-black);
    width: 100%;
    margin: 4px 0 8px;
    padding: 8px;
}

input::file-selector-button {
    border: none;
    background: var(--green-blue);
    color:  var(--white-text);
    font-family: Poppins;
}

.item-has-focus {
    --full-highlight-height: none;
    --inset-highlight-height: none;
}

.wide-btn {
    cursor: pointer;
    padding: 8px 52px;
    border-radius: 16px;
    /*margin: 16px 0;*/
    border: 0.5px solid var(--pink-white);
    background: var(--blue-black);
    color: var(--white-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}