document-view-page::-webkit-scrollbar {
   display: block;
}
document-view-page {
    overflow-y: scroll;
    min-width: 415px !important;
    scrollbar-width: initial;
    direction: rtl; /* This moves the scrollbar to the left */
    text-align: left; /* Keeps content aligned normally */
}
document-view-page > * {
    direction: ltr; /* Revert text direction back to normal for content */
}
document-view-page::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #888;
}

document-view-page::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.abstract-subtitle {
    color: var(--path-button);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
}

.abstract-section {
    border-radius: 10px;
    margin-bottom: 10px;
}
.paragraph-controls{
    margin-left:4px;
    margin-right:4px;
}
.abstract-content {
    display: flex;
    white-space: pre-line;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--user-text);
}

.abstract-text {
    resize: none;
    border: none;
    display: inline-block;
    border-radius: 3px;
    padding: 10px;
    width: calc(100% - 30px);
    white-space: pre-wrap;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    color: var(--user-text);
}

.abstract-text:focus {
    outline: none;
    background: var(--white-text);
}

.document-view-page {
    display: flex;
    width: 100%;
}



.document-content {
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
    height: 100%;
    margin-bottom: 20px;
    min-height: 100%;
}

.document-page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 20px;
}
.document-menu-container{
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.document-menu-container:hover{
    background-color: var(--very-light-gray);
}
.document-menu-dropdown {
    position: absolute;
    top: 0;
    right: 35px;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    padding: 5px 0;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
}

.space-document-path {
    cursor: default;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.document-title {
    border: none;
    width: calc(100% - 30px);
    display: inline-block;
    color: var(--light-black);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    border-radius: 3px;
}

.document-title-container {
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

html[theme="dark"] .document-title-container {
    background: var(--light-brown-gray);
}

.document-title:focus {
    outline: none;
    background: var(--white-text);
}

.space-document-path svg {
    margin: 5px;
}

.new-chapter-btn {
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--white-text);
    background-color: #2D9FFF;
    /*TODO: change to another color*/
}
.disabled-editor{
    pointer-events: none;
}
.document-editor{
    position: relative;
}
.disabled-mask{
    display: none;
    position: absolute;
    pointer-events: none;
    z-index: 800;
    border-radius: 10px;
    background-color: var(--very-light-gray);
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#chapter-sidebar,
#paragraph-sidebar {
    display: none;
}

.abstract-section, .path-button, .chapter-item {
    padding: 10px;
}

.abstract-section {
    width: 100%;
}

.thirty-px-horizontal-space {
    width: 30px;
    min-width: 30px;
}

.path-button:hover {
    cursor: pointer;
}


.sidebar-item {
    font-weight: 600;
}

#current-selection-parent {
    background-color: var(--white-blue-tint);
}

#current-selection-parent .focusable {
    background-color: var(--white-blue-tint);
}
#current-selection-parent .focusable.focused {
    background-color: white; !important;
}

.insert-image{
    margin-left: 10px;
    cursor: pointer;
}
.document-to-video{
    margin-left: 10px;
}
.share-video-button{
    margin-left: 10px;
}
.document-video{
    width: 200px;
    height: 200px;
}
.action-dots{
    width: 5px;
}
.task-icon{
    width: 25px;
    cursor: pointer;
}
.menu-section{
    display: flex;
    align-items: center;
}
.tasks-menu{
    position: relative;
}
.new-tasks-badge{
    position: absolute;
    top: -2px;
    left: 0;
    background-color: #ff0000;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

