document-view-page::-webkit-scrollbar {
    display: block;
}

document-view-page {
    overflow-y: scroll;
    min-width: 415px !important;
    scrollbar-width: initial;
    direction: rtl; /* This moves the scrollbar to the left */
    text-align: left; /* Keeps content aligned normally */
}
.doc-title-breadcrumb{
    width: calc(100% - 287px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.abstract-header-section{
    display: flex;
    align-items: center;
}
.book-comment-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
document-view-page > * {
    direction: ltr; /* Revert text direction back to normal for content */
}

document-view-page::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #7B7B7B;
}

document-view-page::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.document-editor-container {
    position: relative;
    padding-left: 50px;
    padding-right: 20px;
}

.document-editor {
}

.document-page-header {
    z-index: 10;
    border-bottom: 1px solid var(--very-light-gray);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 15px 15px 15px 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

.abstract-subtitle {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
}

.abstract-section {
    border-radius: 5px;
    margin-bottom: 10px;
}

.paragraph-controls {
    margin-left: 4px;
    margin-right: 4px;
}

.document-abstract-container {
    position: relative;
    display: flex;
    white-space: pre-line;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--user-text);
}

.document-abstract {
    resize: none;
    border: none;
    display: inline-block;
    border-radius: 3px;
    padding: 10px;
    width: calc(100% - 30px);
    white-space: pre-wrap;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
}

.document-abstract:focus {
    outline: none;
    background: var(--white-text);
}

.document-menu-container {
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document-menu-container:hover {
    background-color: var(--very-light-gray);
}

.document-menu-dropdown {
    position: absolute;
    top: 0;
    right: 35px;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    padding: 5px 0;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--white);
}

.space-document-path {
    width: 85%;
    cursor: default;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.document-title {
    border: none;
    width: calc(100% - 40px);
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    border-radius: 3px;
}

.document-title-container {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    position:relative;
}

.document-title:focus {
    outline: none;
    background: var(--white-text);
}

.space-document-path svg {
    margin: 5px;
}

.new-chapter-btn {
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--white-text);
    background-color: #2D9FFF;
    /*TODO: change to another color*/
}

.disabled-editor {
    pointer-events: none;
}

.disabled-mask {
    display: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    border-radius: 10px;
    background-color: var(--very-light-gray);
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#chapter-sidebar,
#paragraph-sidebar {
    display: none;
}

.abstract-section, .path-button, .chapter-item {
    padding: 10px;
}

.abstract-section {
    width: 100%;
}

.thirty-px-horizontal-space {
    width: 30px;
    min-width: 30px;
}

.path-button:hover {
    cursor: pointer;
}


.sidebar-item {
    font-weight: 600;
}

.focusable.focused {
    background-color: white; !important;
}
.container-element.focused{
    background-color: var(--white-blue-tint);
}
.insert-image {
    margin-left: 10px;
    cursor: pointer;
}

.document-to-video {
    margin-left: 10px;
}

.share-video-button {
    margin-left: 10px;
}

.document-video {
    width: 200px;
    height: 200px;
}

.action-dots {
    width: 5px;
}

.task-icon {
    cursor: pointer;
}

.menu-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.tasks-menu {
    position: relative;
    display: flex;
    align-items: center;
}
.play-video-preview{
    margin-right: 15px;
    cursor: pointer;
}
.new-tasks-badge {
    position: absolute;
    top: -2px;
    left: 0;
    background-color: #ff0000;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/*selections*/
.user-icon{
    position: absolute;
    left: -50px;
    width: 40px;
    border-radius: 50%;
}
.focused.locked-item{
    background-color: var(--very-light-gray);
    pointer-events: none;
}
document-view-page .right-margin {
    margin-right: 10px;
}


html[theme="dark"] textarea.document-abstract{
    background: var(--white)
}

html[theme="dark"] input.document-title{
    background: var(--white)
}

/*plugins*/
.attachment-circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.menu-container{
    position: relative;
    display: flex;
}
.menu-container.locked-item{
    background-color: var(--very-light-gray);
    pointer-events: none;
}
.toolbar{
    display: none;
    padding-bottom: 10px;
}