.hidden {
    opacity:0;
}
.console-container {
    background: var(--black);
    font-size:20px;
    text-align:center;
    display:block;
    color:var(--white-text);
    margin:auto;
}
.console-underscore{
    color: var(--white-text);
}
.animation-space{
    color: var(--white-text);
}