export-document-modal{
    display:flex;
    flex-direction:column;
    width: 600px;
    height: 320px;
}
.export-button {
    cursor: pointer;
    padding: 6px;
    background-color: var(--strong-blue);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--white);
}
