dialog[class="modal"]{
    background: none;
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
dialog::backdrop{
    background: rgba(0, 0, 0, 0.3);
}
.paper{
    position: relative;
    border-radius: 17px;
    -webkit-box-shadow: -9px 9px 0px 1px #DCDCDC;
    box-shadow: -9px 9px 0px 1px #DCDCDC;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    background: white;
}
llm-call-animation {
    margin-top: 250px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes pencil-write {
    0% {
        transform: rotate(-135deg);
    }
    10%{
        transform: rotate(-315deg);
    }

    20% {
        transform: translateX(154px) rotate(-315deg);
    }
    30% {
        transform: translateX(0px) translateY(34px) rotate(-315deg);
    }

    40%{
        transform: translateX(154px) translateY(34px) rotate(-315deg);
    }
    50%{
        transform: translateX(0px) translateY(68px) rotate(-315deg);
    }

    60% {
        transform: translateX(154px) translateY(68px) rotate(-315deg);
    }
    70%{
        transform: translateX(0px) translateY(102px) rotate(-315deg);
    }

    80%{
        transform: translateX(154px) translateY(102px) rotate(-315deg);
    }
    90%{
        transform: translateX(0px) translateY(136px) rotate(-315deg);
    }

    100% {
        transform: rotate(495deg);
    }
    90%{
        transform: translateX(0px) translateY(136px) rotate(-315deg);
    }

    100%{
        transform: translateX(154px) translateY(136px) rotate(-315deg);
    }

}
@keyframes pencil-erase{
    0% {
        transform: translateX(154px) translateY(136px) rotate(-495deg);
    }
    10% {
        transform: translateY(136px)  rotate(-495deg);
    }

    20%{
        transform: translateX(154px) translateY(102px) rotate(-495deg);
    }
    30%{
        transform: translateY(102px)  rotate(-495deg);
    }

    40%{
        transform: translateX(154px) translateY(68px) rotate(-495deg);
    }
    50%{
        transform: translateY(68px)  rotate(-495deg);
    }

    60%{
        transform: translateX(154px) translateY(34px) rotate(-495deg);
    }
    70%{
        transform: translateY(34px)  rotate(-495deg);
    }

    80%{
        transform: translateX(154px) translateY(0px) rotate(-495deg);
    }
    90%{
        transform: translateY(0px)  rotate(-495deg);
    }
}
.pencil{
    z-index: 2;
    position: absolute;
    top: -62px;
    left: 60px;
    transform-origin: center;
}
.pencil-write{
    transform: rotate(-135deg);
    animation: pencil-write 25s forwards;
}
.pencil-erase{
    animation: pencil-erase 25s forwards;
}
.line {
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 1;
    top: 30px;
    left: 35px;
    height: 4px;
    width: 157px;
    border-radius: 50px;
    background: #A42E70;
    transform: scaleX(0);
    transform-origin: bottom left;
    animation: line-write 5s forwards;
}
.first{
    margin-top: 31px;
}
@keyframes line-write {
    50% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
@keyframes line-erase {

    50% {
        transform: scaleX(1);
    }


    100% {
        transform: scaleX(0);
    }
}
.animation-text {
    text-align: center;
    margin-top: 25px;
    color: #A42E70;
    font-size: 24px;
    font-weight: 600;
}
.fun-fact{
    text-align: center;
    margin-top: 25px;
    color: #FFFBFD;
    font-size: 20px;
    font-weight: 600;
}