
admin-user-menu{
    padding: 5px;
    z-index: 1;
    position: absolute;
    right: 30px;
    top: 10px;
    border: 1px solid var(--action-button-background);
    border-radius: 10px;
    background-color: var(--menu-backgroud);
    width: max-content;

}
.menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.menu-item:hover{
    background-color: var(--action-button-background);
}
.block.blocked-user{
    display: none;
}
.unblock.unblocked-user{
    display: none;
}