<link rel="stylesheet" href="./components/add-post-modal/add-post-modal.css">

<header class="add-post-modal">
        <div class="modal-container">
            <div class="header-modal-title">Create New Post</div>
                <button data-action="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <hr>
        <div id="robot">
            <img id="robot-img" src="./assets/icons/robot.svg" alt="">
            <img id="robot-img-message" src="./assets/icons/robot-message.svg" alt="">
        </div>
        <hr>
</header>
<div class="add-post-modal modal-content">
        <form>
            <div>
                <div class="form-item">
                    <label class="label-title">Title</label>
                    <input name="title" minlength="3" data-id="post-title" id="post-title" required placeholder="Add title">
                </div>

                <div class="form-item">
                    <label>Description</label>
                    <textarea name="body" minlength="3" data-id="post-body" id="post-body" required placeholder="Add description"></textarea>
                </div>

                <div class="form-item">
                    <label>Minting fee</label>
                    <div class="input-fee-container" tabindex="1" id="post-mintingFee">
                        <span id="dollar-sign">$</span>
                        <input name="mintingFee" type="number" data-id="post-mintingFee" min="0" required placeholder="5">
                    </div>
                </div>
                <div class="form-item">
                    <label>URL</label>
                    <input name="url" type="text" data-id="post-url" placeholder="Add URL">
                </div>
                <div id="post-checkbox">
                    <input name="checkbox" type="checkbox" data-id="post-checkbox"  class="check">
                    <label id="check-box-label">Activate post</label>
                </div>

            </div>
            <button id="submit-post-form-button" data-action="createPost">Next</button>
        </form>
</div>

<footer class="add-post-modal">
    <div id="post-value">
        *Post's value: 0.97 $
    </div>

</footer>