<div class="conversation">
    $$spaceConversation
</div>
<form class="chat-input-container">
    <label for="input" class="hidden"></label>
    <div class="input-container">
        <div class="select-settings-container" data-local-action="showSettings off">
            <img class="chat-options-plus" src="$$plusIcon">
            <div class="settings-list-container">
                <input type="file" class="file-input hidden">
                <list-item data-local-action="uploadFile" data-name="Upload File" data-highlight="light-highlight"></list-item>
                $$availableComponents
            </div>
        </div>
        <textarea name="input" data-id="input" id="input" placeholder="Say something ..."></textarea>
        <div id="actionButtonContainer">
            $$chatActionButton
        </div>
    </div>
</form>
