<div class="container">

    <div class="rectangle-container-skeleton">
        <div class="container-skeleton">
            <div class="circle-button-skeleton"></div>
        </div>
    </div>

    <div class="rectangle-container-skeleton">
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-short-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-medium-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-long-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-long-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-medium-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-short-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-long-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-short-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-long-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-medium-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-short-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-long-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-long-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-long-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-short-skeleton"></div>
            </div>
        </div>
        <div class="brand-container-skeleton">
            <div class="brand-container-left-skeleton">
                <div class="circle-button-skeleton"></div>
                <div class="rectangle-text-skeleton brand-title-medium-skeleton"></div>
            </div>
        </div>
    </div>

</div>