.idea
.env

apihub-root/external-volume/domains
apihub-root/external-volume/fixed-urls
apihub-root/external-volume/maindsu
apihub-root/external-volume/lightDB
apihub-root/external-volume/oba
apihub-root/external-volume/versionlessdsu
apihub-root/keys-secret.json

apihub-root/wallet/scripts/bundles/
apihub-root/wallet/bundles/
apihub-root/users

node_modules
opendsu-sdk/
package-lock.json
env.json.devel
initialEncryptionTest

**/.DS_Store

