.idea
.env

apihub-root/external-volume/domains
apihub-root/external-volume/fixed-urls
apihub-root/external-volume/maindsu
apihub-root/external-volume/lightDB
apihub-root/external-volume/oba
apihub-root/external-volume/versionlessdsu
apihub-root/external-volume/secrets
apihub-root/keys-secret

apihub-root/wallet/scripts/bundles/
apihub-root/wallet/bundles/
data-volume/users
data-volume/spaces
data-volume
node_modules
opendsu-sdk/
package-lock.json
env.json.devel
initialEncryptionTest

**/.DS_Store

/apihub-space-core/data/
