.abstract-subtitle {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.abstract-content {
    text-align: justify;
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.doc-page-by-id {
    display: flex;
}

.document-content {
    width: 100%;
    margin-right: 12px;
}

.document-path {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.path-button {
    color: #121212;
    font-family: Poppins;
    font-size: 14px;
    margin: 0 5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.document-path svg {
    margin: 5px;
}

