
<div class="post-card">
  <div class="post-card-header">
    <div class="meta-info">

      <div class="meta-info-left">
        <img class="brand-logo" src="./assets/icons/outfinity-logo.svg"
             alt="Brand logo">
        <div class="text-container">
          <div class="brand-name">Outfinity</div>
          <div class="user-info">
            <div class="username">user12</div>
            <div class="divider"></div>
            <div class="time">15h</div>
          </div>
        </div>

      </div>
      <div class="meta-info-right">
        <button class="three-dotted-button"> <img src="./assets/icons/3points.svg" alt="3-dotted-button"> </button>
      </div>
    </div>
    <h3 class="title">$$data-title</h3>
  </div>
  <div class="post-card-content">
    <div class="post-body">
      $$data-body
    </div>
    <div class="post-buttons-container">
      <div class="post-buttons-left">
        <button class="activate post-button $$data-is-activated">Activate</button>
        <button class="likes post-button">
          <img class="flex-item post-button-icon" src="./assets/icons/like-icon.svg"
               alt="Like icon">
          <div class="number">0</div>
          <div class="text">Like</div>
        </button>
        <button class="comments post-button" data-action="navigateToPostPage $$data-post-id">
          <img class="flex-item post-button-icon" src="./assets/icons/comment-icon.svg"
               alt="Comment icon">
          <div class="number">0</div>
          <div class="text">Comment</div>
        </button>
        <button class="post-button" id="share">
          <img class="flex-item post-button-icon" src="./assets/icons/share-icon.svg"
               alt="Share icon">
        </button>
      </div>
      <div class="post-buttons-right">
        <button class="activate post-button">$ 10</button>
      </div>
    </div>
  </div>
</div>