image-menu{
    display: block;
    width: 450px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 1px 7.3px 0px #00000040;
}
.actions-section{
    display: flex;
    margin-bottom: 10px;
}
.delete-image{
    margin-left: 10px;
}