build-page {
    height: 100%;
}

.page-header {
    padding: var(--page-padding);
    font-size: var(--page-header-font-size);
    font-weight: 600;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.build-check-container{
    margin-left: 10px;
}

.page-body{
    padding: 20px 40px 0 40px;
    height: calc(100% - 133px);
}

.tabs{
    display: flex;
    border-bottom: 1px solid var(--light-gray-border);
    padding-left: 10px;
}
.tab{
    padding: 15px 30px;
    display: flex;
    align-items: center;
}
.active {
    color: var(--strong-blue);
    border-bottom: 2px solid var(--strong-blue);
}