dialog {
    padding: 0;
    width: 50%;
    overflow: hidden;
}

.input-file-container{
    border: 0.5px dashed var(--lighter-black);
    width: 100%;
    margin: 4px 0 8px;
    padding: 8px;
    background: var(--white-blue-tint);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;

    cursor: pointer;
}
.upload-arrow{
    margin-top: 20px;
    margin-bottom: 30px;
}
textarea#description {
    resize: none;
    height: 150px;
}

input::file-selector-button {
    border: none;
    background: none;
    color: var(--strong-blue);
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}
input[type="file"]{
    width: 200px;
    font-weight: 500;
    pointer-events: none;
}
.item-has-focus {
    --full-highlight-height: none;
    --inset-highlight-height: none;
}
.modal-footer{
    padding-bottom: 10px;
}
.color-option{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
#color{
    width: 100px;
    height: 45px;
}