generate-image-page{

}
.image-generator-header{
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--very-light-gray);
}
.page-title{
    margin-left: 15px;
}

.form-footer{
    padding: 20px;
    border-bottom: 1px solid var(--very-light-gray);
    display: flex;
    align-items: center;
}
.page-body{
    padding: 0;
}
#prompt{
    border: none;
    resize: none;
    height: 80px;
}
#prompt:focus{
    outline: none;
}
.padding{
    padding: 20px;
}
.modal-footer{
    padding: 20px;
    border-top: 1px solid var(--very-light-gray);
    justify-content: space-between;
}
.select-variants-container{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.select-personality-container{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.select-variants{

}
.images-section{
    padding: 10px 10px;
    overflow: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.generated-image{
    width: 210px;
    height: 210px;
    object-fit: cover;
    margin: 10px;
}
.image-unit{
    position: relative;
}
.image-menu{
    position: absolute;
    background-color: #200C0C54;
    top: 11px;
    left: 10px;
    visibility: hidden;
    width: 210px;
    height: 210px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.image-checkbox{
    visibility: hidden;
    position: absolute;
    bottom: 17px;
    left: 10px;
}
.small{
    margin-top: 10px;
    font-size: 13px;
    width: 100%;
    justify-content: center;
    height: 25px;
}