.delete-modal {
    width: 400px;
    height: auto;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.delete-modal .modal-header {
    align-items: center;
    padding: 15px 25px;
    display: flex;
    color: #222222;
    font-weight: 700;
    font-size: 25px;
    justify-content: space-between;
    line-height: 100%;
    letter-spacing: 0;
    border-bottom: 1px solid #EFEFEF;
}

.delete-modal .modal-body {
    padding: 25px 30px;
}

.delete-message {
    font-size: 16px;
    color: #222222;
    margin-bottom: 10px;
}

.delete-warning {
    font-size: 14px;
    color: #C80001;
}

.delete-modal .modal-footer {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 20px 40px;
    border-top: 1px solid #EFEFEF;
}

.delete-button {
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: #C80001;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background: #A80001;
}