space-application-page {
    display: flex;
    height: 100%;
    width:100%;
    overflow: hidden;
    position: relative;
}
#space-page-container{
    display:flex;
    width:100%;
}
.right-sidebar {
    z-index: 100000;
    position: absolute;
    display: inline-block;
    transition: transform 0.3s ease;
    right: 0;
    height: 100%;
    width: 210px;
    min-width: 210px;
    padding-top:26px;
    min-height: 100%;
}

.right-sidebar {
    background: linear-gradient(111.65deg, rgba(239, 239, 239, 0.6) 8.14%, rgba(239, 239, 239, 0.08) 95.69%);
    backdrop-filter: blur(20px);
    box-shadow: var(--right-sidebar-shadow);
}

.sidebar-item {
    cursor: pointer;
    padding: 7px 2px;
    margin: 10px;
    font-weight: 600;
    border-radius: 5px;
    width: 190px;
}
.sidebar-item-title {
    margin-left: 12px;
    color: var(--medium-gray);
}

.toggle-sidebar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid var(--medium-gray);
    margin-left:7px;
    margin-bottom:10px;
}

.current-page {
    width: calc(100% - 42px);
    transition: width 0.3s;
    min-width: 35%;
    background: var(--white);
}
.highlighted{
    background: var(--selected-chat) !important;
    font-weight: 700;
}
.hide-sidebar {
    padding-left: 10px;
    font-weight: 300;
    color: var(--medium-blue);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.chat-drag-container{
    background-color: white;
    display:flex;
    align-items:center;
    justify-content: center;
    width:30px;
    height:30px;
    z-index:10;
    border-radius:50%;
    border:2px solid var(--medium-gray);
}
.drag-separator {
    cursor: grab;
    width: 30px;
    gap:10px;
    height:100%;
    padding-top:26px;
    padding-bottom:40px;
    position: relative;
    display:flex;
    flex-direction: column;
    box-shadow:0 0 1px rgba(0, 0, 0, 0.5);
    align-items: flex-start;
    background: linear-gradient(111.65deg, rgba(239, 239, 239, 0.6) 8.14%, rgba(239, 239, 239, 0.08) 95.69%);
}
#toggleFullscreen{
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    width:30px;
    height:30px;
    border-radius:50%;
    border:2px solid var(--medium-gray);
    background-color:white;
    margin-bottom:10px;
}
.drag-line {
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0;
}

.drag-separator:active {
    cursor: grabbing;
}

.drag-separator:active > .drag-icon {
    visibility: visible;
}

.drag-separator:hover > .drag-icon {
    visibility: visible;
}

.drag-icon:hover {
    visibility: visible;
}

.drag-icon {
    z-index: 2;
    top: 50%;
    position: absolute;
}

.arrow-rotated {
    transform: rotate(180deg);
}
