show-attachment-modal{
    display: block;
    width: 400px;
    height: 400px;
}
.modal-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-attachment{
    max-width: 300px;
}
.video-attachment{
    max-width: 300px;
}
.download-button{
    margin-top: 10px;
}