.llm-item-renderer {
    padding-left: 10px;
    display: flex;
    border-top: 1px solid rgba(194, 194, 194, 0.6);
}

.cell {
    width: 32%;
    padding: 8px 10px;
}

.action-cell {
    width: 4%;
    padding: 8px 10px;
    color: #555555;
    display: flex;
    justify-content: right;
    align-items: center;
}

.table-header {
    padding-left: 10px;
    display: flex;
    background-color: #E9E9E9;
    font-size: 15px;
    color: #515151;
}

.table {
    margin-right: 10px;
    background-color: white;
}

.action-icon {
    height: 12px;
    margin-right: 20px;
}

.action-box {
    background-color: white;
    position: fixed;
    margin-top: 35px;
    margin-right: 15px;
    border-radius: 6px;
    border: 1px solid #dedede;
    display: none;
}

.action {
    padding: 3px 8px;
}

.act1:hover {
    border-radius: 6px 6px 0 0;
}

.act2:hover {
    border-radius: 0 0 6px 6px;
}

.action:hover {
    background-color: #007bff;
    color: white;
}