<link rel="stylesheet" href="./components/add-brand-modal/add-brand-modal.css">


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Create brand
                    <button type="button" class="close" data-action="closeModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-item">
                        <label class="form-label" for="brand-name">Brand Name</label>
                        <input class="form-input" name="name" data-id="brand-name" type="text" id="brand-name" required placeholder="Add name">
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="brand-logo">Brand Logo</label>
                        <input class="form-input" name="logo" type="file" accept="image/png, image/jpeg" data-id="brand-logo" id="brand-logo" required>
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="brand-description">Brand Description</label>
                        <input class="form-input" name="description" data-id="brand-description" type="text" id="brand-description" required
                            placeholder="Add description">
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="brand-linkedin">LinkedIn Profile</label>
                        <input class="form-input" name="profile" type="text" data-id="brand-linkedin" id="brand-linkedin" required placeholder="Add link">
                    </div>
                    <div class="modal-footer">
                        <button class="wide-btn" data-action="createBrand">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
