.document-snapshot{
    display: flex;
    padding: 5px;
    border-radius: 5px;
}
.document-snapshot:hover{
    background-color: var(--very-light-gray);
}
.snapshot-date,
.snapshot-user{
    display: flex;
    margin-right: 20px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.snapshot-user{
    width: 110px;
}
.list-header{
    display: flex;
    margin: 10px 0;
    font-weight: bold;
    font-size: 12px;
    padding: 0 5px;
}
.export-snapshot{
    margin-right: 40px;
}
.export-document {
    margin-left: 18px;
    margin-right: 40px;
}
.delete-snapshot{
    margin-left: 28px;
}
.no-snapshots{
    margin-top: 10px;
}