text-widget{
    height:100%;
    width:100%;
    background-color: var(--bg);
    color: var(--text);

}
.section.company {
    width:100%;
    height:100%;
    color: var(--text);
    font-family: var(--font-family);
    font-size: var(--font-size);
    gap: var(--gap);
    display:flex;
}

.section.company .left {
    border-radius: var(--border-radius);
    display:flex;
    align-items:center;
}

.section.company .company__name {
    font-size: var(--heading-font-size);
    font-family: var(--font-family);
}

.section.company svg {
    max-width: 100%;
    display: flex;
}
