.table-header {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    color: #363C44;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.add-icon {
    margin-right: 5px;
    margin-bottom: 1px;
}

.cell {
    width: 32%;
    padding: 8px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell2 {
    width: 64%;
}

.modal-section {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#page-content {
    padding: 0;
}
.no-data-loaded{
    padding-left: 20px;
}