.flow-unit {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    border-top: 0.5px solid  var(--pink-white);
    color: var(--medium-gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cells-container{
    display: flex;
    width: 100%;
}
.flow-unit:hover{
    cursor: pointer;
}
.name {
    margin-right: 10px;
    width: 32%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.description{
    margin-right: 10px;
    width: 64%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-cell-flow {
    height: 24px;
    width: 33px;
    max-width: 33px;
    color: var(--brown-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-button:hover {
    cursor: pointer;
    background-color: var(--medium-black);
}

.circle-button {
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
}

.name-cell {
    cursor: pointer;
}
