manage-chapters-page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.document-path {
    cursor: default;
    display: flex;
    align-items: baseline;
    margin: 10px 0;
}

.path-button {
    color: #A42E70;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.document-path svg {
    margin: 5px 10px;
}

.document-path,
.main-ideas {
    margin-left: 15px;
}

.document-content {
    width: 100%;
    display: flex;
}

.entire-content {
    width:calc(100% - 270px);
}


.main-ideas{
    margin-right: 15px;
    margin-bottom: 20px;
}
.main-ideas-list{
    position: relative;
    padding-left: 15px;
}
.main-ideas-list:focus{
    background-color: rgba(148, 174, 227, 0.3);
    color: #252525;
    font-weight: 450;
}
.section-title {
    margin: 20px 15px 20px 15px;
    color: #252525;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-ideas-title{
    display: flex;
    align-items: baseline;
}

.main-ideas-separator{
    border: 1px solid #E6E6E6;
}


