.table-header {
    padding-left: 10px;
    display: flex;
    background-color: #E9E9E9;
    font-size: 15px;
    color: #515151;
}

.table {
    margin-right: 10px;
    background-color: white;
}

.add-icon {
    margin-right: 5px;
    margin-bottom: 1px;
}

.cell {
    width: 32%;
    padding: 8px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell2 {
    width: 64%;
}