<link rel="stylesheet" href="./wallet/components/modals/add-user-modal/add-user-modal.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Add User
                <button type="button" class="close" data-local-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-item">
                    <label class="form-label" for="last-name">Last name</label>
                    <input class="form-input" name="last-name" data-id="last-name" type="text" id="last-name" required placeholder="Last name">
                </div>

                <div class="form-item">
                    <label class="form-label" for="first-name">First name</label>
                    <input class="form-input" name="first-name" data-id="first-name" type="text" id="first-name" required placeholder="First name">
                </div>

                <div class="form-item">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-input" name="email" data-id="email" type="text" id="email" required placeholder="email@domain.com">
                </div>

                <div class="form-item">
                    <label class="form-label" for="phone-number">Phone number</label>
                    <input class="form-input" name="phone-number" data-id="phone-number" type="text" id="phone-number" required placeholder="(+40) 722 222 222">
                </div>

                <div class="modal-footer">
                    <button class="wide-btn" data-local-action="submitForm">Add User</button>
                </div>
            </form>
        </div>
    </div>
</div>