.component_container {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    background-color: var(--white);
    height: auto;
    text-align: justify;
    width: 520px;
}

.header .title {
    font-weight: 700;
    font-size: 36px;
    color: var(--header-font-color);
}
.header{
    margin-bottom: 20px;
}
input:focus, input:focus-visible {
    outline: none;
}
.redirect-text{
    margin-left: 3px;
    color: var(--strong-blue);
}
.content {
    color: var(--default-font-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.separator{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
    background-color: var(--light-gray-border);
}
.input_container {
}

.email_input, .code_input, .totp_input, .totp_verify_input {
}
.gray-background{
    background-color: var(--light-gray-border) !important;
    color: var(--default-font-color) !important;
}
.auth-button {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    background: var(--strong-blue);
    padding: var(--button-padding);
    cursor: pointer;
    border-radius: 5px;
}

.info, .code_sent_message {
    font-size: 14px;
}
.selection_info{
    font-size: 14px;
    text-align: left;
}
.selection_info li{
    margin-bottom: 5px;
}
.cancel_auth_method_button{
    margin-top: 20px;
}
.email_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.to_login,.to_signup{
    color: var(--default-font-color);
}
.code_submit_section,
.selection_short_info,
.selection_info,
.totp_login_section,
.totp_register_section,
.auth_step1 .selection_long_info,
.auth_step1 .auth_methods_section,
.auth_step1 .actions_container,
.change_auth_type,
.to_signup,
.to_login {
    display: none;
}
.selection_short_info{
    font-size: 14px;
}
.auth_methods_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--light-gray-border);
}

.choice {
    display: flex;
    gap: 10px;
    padding: 11px;
    cursor: pointer;
    line-height: 1;
    flex-grow: 1;
    align-items: center;
}

.choice.selected {
    background-color: var(--action-button-background);
    border-radius: 5px;
}
.submit_email_button{
    margin-top: 10px;
}
.choice.selected .label {
    color: var(--default-font-color);
    font-weight: 600;
}
.choice .icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.choice.emailCode .icon {
    background: url("./wallet/assets/icons/email-auth-icon.svg") no-repeat center center;
    background-size: contain;
}

.choice.passkey .icon {
    background: url("./wallet/assets/icons/passkey-auth-icon.svg") no-repeat center center;
    background-size: contain;
}

.choice.totp .icon {
    background: url("./wallet/assets/icons/totp-auth-icon.svg") no-repeat center center;
    background-size: contain;
}

.choice input {
    padding: 0;
    margin: 0;
}

.choice .label {
    margin: auto 0;
    font-size: 16px;
}

.auth_container[selected-auth="emailCode"] .selection_info.emailCode,
.auth_container[selected-auth="emailCode"] .selection_short_info.emailCode,
.auth_container[selected-auth="passkey"] .selection_info.passkey,
.auth_container[selected-auth="passkey"] .selection_short_info.passkey,
.auth_container[selected-auth="totp"] .selection_info.totp,
.auth_container[selected-auth="totp"] .selection_short_info.totp,
.auth_step1 .change_auth_type{
    display: block;
}

.auth_step1.auth_container[auth-step="login"] .to_signup,
.auth_step1.auth_container[auth-step="signup"] .to_login {
    display: flex;
    justify-content: center;
}
.actions_container {

}

.actions_container button {
    width: 100%;
}

.totp_login_section,
.code_submit_section {
    flex-direction: column;
    gap: 20px;
}

.totp_login_section .info,
.code_submit_section .info {
    padding-bottom: 20px;
}

.promotion {
    font-style: italic;
    padding-top: 20px;
    border-top: 1px solid var(--default-font-color);
    width: 100%;
    position: relative;
    display: block;
    word-break: break-word;
}
