<div class="action-box">
    <div class="action" data-local-action="editAction">
        <img src="./wallet/assets/icons/edit-document.svg" alt="menu">
        <span>Edit</span>
    </div>
    <div class="action" data-local-action="deleteAction">
        <img src="./wallet/assets/icons/trash-can.svg" alt="menu">
        <span>Delete</span>
    </div>
    <div class="action" data-local-action="exportAction">
        <img src="./wallet/assets/icons/export.svg" alt="menu">
        <span>Export</span>
    </div>
    <div class="action" data-local-action="generateBook">
        <img src="./wallet/assets/icons/book.svg" alt="menu">
        <span>Generate Book</span>
    </div>
    <div class="action" data-local-action="generateReview">
        <img src="./wallet/assets/icons/open-book.svg" alt="menu">
        <span>Generate Review</span>
    </div>
    <div class="action" data-local-action="translateDocument">
        <img src="./wallet/assets/icons/translate.svg" alt="menu">
        <span>Translate</span>
    </div>
</div>
