dialog[class="modal"]{
    font-family: Poppins;
    width: 90%;
    height: 50%;
}
.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:15%;
    padding:20px;
    font-size: 22px;
    font-weight: 500;
    color: var(--white-text);
    background:  var(--button-purple);
}
.add-document-form{
    padding: 20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:85%;
}

.form-item{
    display:flex;
    flex-direction:column;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    color:var(--gray-black);
}

.form-input{
    height: 35px;
    margin-top:4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--form-input);
    border: 0.5px solid var(--form-border);
    border-radius:8px;
    padding: 7px 12px;
}
.form-input:focus {
    color: var(--gray-black);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
}
.form-footer{
    display:flex;
    justify-content: center;
    align-items:center;
}
#documentTitle{
    width: 60%;
}
#documentTopic{
    resize: none;
    font-family: 'Poppins';
    height: 100px;
}