.document-item-renderer {
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(194, 194, 194, 0.6);
}

.cell {
    width: 96%;
    padding: 8px 10px;
}

.action-cell {
    padding: 2px;
    width: 3px;
    height: 12px;
    max-width: 3px;
    max-height: 12px;
    margin-right: 20px;
    color: #555555;
    display: flex;
    justify-content: right;
    align-items: center;
}

.action-icon {
    width: 3px;
    height: 12px;
    max-width: 3px;
    max-height: 12px;
}

.action-box {
    background-color: white;
    position: fixed;
    margin-top: 40px;
    border-radius: 6px;
    border: 1px solid #dedede;
    display: none;
}

.action {
    padding: 3px 8px;
}

.act1:hover {
    border-radius: 6px 6px 0 0;
}

.act2:hover {
    border-radius: 0 0 6px 6px;
}

.action:hover {
    background-color: #007bff;
    color: white;
}