.space-unit {
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    display: flex;
    justify-content: center;
    color:   var(--medium-blue);
    align-items: center;
}
.space-unit:hover{
    cursor: pointer;
}
.space-name-txt{
    margin-left: 10px;
}