<link rel="stylesheet" href="./components/add-llm-modal/add-llm-modal.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Add LLM
                <button type="button" class="close" data-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-item">
                    <label class="form-label" for="brand-name">Name</label>
                    <input class="form-input" name="name" data-id="brand-name" type="text" id="brand-name" required placeholder="Add name">
                </div>

                <div class="form-item">
                    <label class="form-label" for="brand-description">Key</label>
                    <input class="form-input" name="description" data-id="brand-description" type="text" id="brand-description" required placeholder="Add LLM">
                </div>

                <div class="form-item">
                    <label class="form-label" for="brand-linkedin">URL</label>
                    <input class="form-input" name="profile" type="text" data-id="brand-linkedin" id="brand-linkedin" required placeholder="Add URL">
                </div>

                <div class="modal-footer">
                    <button class="wide-btn" data-action="createBrand">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>