edit-effect-modal{
    display: block;
    width: 600px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 7.3px 0px #00000040;
}
edit-effect-modal .margin-right{
    margin-right: 5px;
}
edit-effect-modal .form-label{
    margin-bottom: 0;
}
edit-effect-modal .top-margin{
    margin-top: 15px;
}
edit-effect-modal input[type="number"]{
    width: 100px;
}
