.paragraph-unit {
    cursor: default;
    display: flex;
    border-radius: 10px;
    width: 100%;
}
.paragraph-arrow{
    margin-left: 8px;
    cursor: pointer;
}
.paragraph-arrows {
    width:30px;
    min-width:30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.paragraph-arrow-container{
    width: 100%;
    height: 100%;
}
.paragraph-unit p {
    padding: 0 10px;
    border-radius: 5px;
}

.paragraph-text:focus {
    outline: none;
    background-color:#FFFFFF;
    border-radius:3px;
}

.paragraph-text {
    border-radius: 3px;
    display:inline-block;
    cursor: text;
    padding:10px;
    white-space: pre-wrap;
    min-height:36px;
    flex-wrap:wrap;

    width:calc(100% - 30px);
    max-width:calc(100% - 30px);
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
}

.arrow-vertical-spacing-div{
    width:100%;
    height:12px;
}