.paragraph-unit {
    cursor: default;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.paragraph-arrows {
    min-width: 14px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph-unit p {
    padding: 0 10px;
    border-radius: 5px;
}

.paragraph-arrow {
    display: none;
    cursor: pointer;
}

.paragraph-text {
    cursor: text;
    white-space: pre-wrap;
}

.paragraph-unit:hover {
    .paragraph-arrows {
        min-height: 0;
    }

    .paragraph-arrow {
        display: block;
    }
}

