.filters{
    display: flex;
}
.table-labels{
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
}
.right-margin{
    margin-right: 10px;
}
.variables-table-container{
    overflow: auto;
    height: calc(100vh - 300px);
}
.variables-table-container::-webkit-scrollbar {
    display: block;
}
.variables-table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.variables-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.table-labels{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
}
.variables-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
}

.table-row{
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    border-bottom: 0.5px solid var(--very-light-gray);
}
.cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    border-bottom: 0.5px solid var(--very-light-gray);
    color: var(--default-font-color);
    font-size: 16px;
    font-weight: 400;
}
.cell.table-label{
    color: var(--plugin-focus);
    font-size: 16px;
    font-weight: 500;
}
.cell.last-cell{
    padding: 10px;
}

.icon-container{
    border-radius: 5px;
    background-color: var(--action-button-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}
.category-select,
.doc-id-select{
    width: 230px;
}