settings-page {
    display: flex;
    height: 100%;
}

.settings-page {
    width: 100%;
}

.settings-header {
    padding: 20px 30px;
    font-size: 26px;
    font-weight: 600;
    color: var(--black)
}

.tabs-section {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.tab {
    padding: 15px 30px;
    display: flex;
    align-items: center;
}
.tab-icon{
    --icon-color: #222222; /* default icon color */
    width: 24px;
    height: 24px;
    background-color: var(--icon-color);
    margin-right: 10px;
}
.collaborators{
    -webkit-mask: url("./wallet/assets/icons/collaborators.svg") no-repeat center;
    mask: url("./wallet/assets/icons/collaborators.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.keys{
    -webkit-mask: url("./wallet/assets/icons/keys.svg") no-repeat center;
    mask: url("./wallet/assets/icons/keys.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.settings{
    -webkit-mask: url("./wallet/assets/icons/folder-with-letter.svg") no-repeat center;
    mask: url("./wallet/assets/icons/folder-with-letter.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.web-assistant{
    -webkit-mask: url("./wallet/assets/icons/web-assistant.svg") no-repeat center;
    mask: url("./wallet/assets/icons/web-assistant.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.advanced-settings{
    -webkit-mask: url("./wallet/assets/icons/advanced-settings.svg") no-repeat center;
    mask: url("./wallet/assets/icons/advanced-settings.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.active {
    color: var(--blue-button);
    border-bottom: 2px solid var(--blue-button);
}
.active .tab-icon{
    --settings-icon: var(--blue-button);
}

.tab-content {
    overflow-y: auto;
    padding: 25px 30px 20px 30px;
    width: 100%;
}
.tab-footer{
    margin-top: 25px;
}


