settings-page {
    display: flex;
    height: 100%;
}

.settings-page {
    width: 100%;
    height: 100%;
}

.settings-header {
    padding: var(--page-padding);
    font-size: var(--page-header-font-size);
    font-weight: 600;
    height: 80px;
    color: var(--black)
}

.tabs-section {
    display: flex;
    height: 38px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #EFEFEF
}

.tab {
    padding: 15px 30px;
    height: 38px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.tab:hover {
    background: #ededed;
    border-radius: 8px;
}
add-key-modal,edit-apikey-modal{
    display:flex;
    position:relative;
    flex-direction:column;
    padding:20px;
    width:856px;
    height:448px;
}
.tab-icon {
    --icon-color: #222222;
    width: 24px;
    height: 24px;
    background-color: var(--icon-color);
    margin-right: 10px;
}

.collaborators {
    -webkit-mask: url("./wallet/assets/icons/collaborators.svg") no-repeat center;
    mask: url("./wallet/assets/icons/collaborators.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.keys {
    -webkit-mask: url("./wallet/assets/icons/keys.svg") no-repeat center;
    mask: url("./wallet/assets/icons/keys.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.settings {
    -webkit-mask: url("./wallet/assets/icons/folder-with-letter.svg") no-repeat center;
    mask: url("./wallet/assets/icons/folder-with-letter.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.web-assistant {
    -webkit-mask: url("./wallet/assets/icons/web-assistant.svg") no-repeat center;
    mask: url("./wallet/assets/icons/web-assistant.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.advanced-settings {
    -webkit-mask: url("./wallet/assets/icons/advanced-settings.svg") no-repeat center;
    mask: url("./wallet/assets/icons/advanced-settings.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.active {
    color: var(--strong-blue);
    border-bottom: 2px solid var(--strong-blue);
}

.active .tab-icon {
    --settings-icon: var(--strong-blue);
}

.tab-content {
    overflow-y: auto;
    padding: 0px 8px 0px 16px;
    width: 100%;
    height: calc(100% - 38px);
}

.page-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 80px);
    margin-inline-start: 10px;
}

.table-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 12px
}

.table-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDEDED;
    border: 1px solid #CCC;
    color: #454545;
    width: fit-content;
}

.data-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: #595959
}

.data-table th, .data-table td {
    text-align: center;
    vertical-align: middle;
    padding: 8px 4px
}

.data-table th {
    font-weight: 450;
    color: var(--plugin-focus);
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.data-table td.main-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 8px
}

.user-info {
    margin-left: 8px;
    line-height: 1.2
}

.user-name {
    font-weight: 600;
    font-size: 16px;
    color: #646464
}

.user-email {
    font-size: 12px;
    color: #666
}

.role-select {
    border: none;
    background: none;
    color: #595959;
    cursor: pointer
}

.delete-row-btn {
    display: inline-block;
    width: 38px;
    height: 38px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 6px;
    background: #C80001EE;
    border: none;
    cursor: pointer
}

.data-table tr {
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    height: fit-content;
}

.actions-button {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 28px;
}

.first-table-field {
    text-align: left !important;
}

.options-container-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    outline: none;
    border: none;
    background: #FFFFFF;
}

.last-table-field {
    display: flex;
    justify-content: flex-end;
}

.table-section {
    width: 100%;
}

.data-table {
    width: 100%;
    table-layout: fixed;
}

.data-table th,
.data-table td {
    padding: 8px 0;
    white-space: nowrap;
}

.data-table th:last-child,
.data-table td:last-child {
    text-align: right;
}

.data-table th:last-child,
.data-table td:last-child {
    text-align: center;
}

#delete-space-button {
    width: 174px;
    height: 44px;
    background: #C80001;
    gap: 10px;
    padding: 14px;
    border: 1px solid #C80001;
    border-radius: 2px;
}


