add-variable{
    display: block;
    width: 800px;
    height: 450px;
}
.modal-body{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
}
.grouped-inputs{
    display: flex;
    gap: 10px;
}
.grouped-inputs > div {
    width: 49%;
}
.expression-multi-line {
    resize: none;
    height: 140px;
}
.right-margin{
    margin-right: 10px;
}
.add-variable{
    margin-top: auto;
    align-self: flex-end;
}
#type{
    width: 49%;
}
#command{
    height: 37px;
}