generate-image-page{

}
.image-generator-header{
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--very-light-gray);
}
.page-title{
    margin-left: 15px;
}

.form-footer{
    padding: 20px;
    border-bottom: 1px solid var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.page-body{
    padding: 0;
    height: 100%;
}
#prompt{
    border: none;
    resize: none;
    height: 80px;
}
#prompt:focus{
    outline: none;
}
.padding{
    padding: 20px;
}
.modal-footer{
    padding: 20px;
    border-top: 1px solid var(--very-light-gray);
    justify-content: space-between;
}
.select-container{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.images-section{
    padding: 10px 10px;
    overflow: auto;
    width: 100%;
    height: calc(100% - 275px);
}