chat-page {
    display:flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    min-width: 0;
}

.chat-controls {
    z-index: 10;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:8px;
    border-radius: 10px;
}
.chats {
    display: flex;
    height: 100%;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
.chats__right,.chats__left{
    display: flex;
    align-items:center;
    height: 100%;
    gap:6px;
    overflow: auto;
}
.chats__button{
    cursor:pointer;
}

.selected-chat {
    border-radius: 10px;
}

.current-personality {
    display: flex;
    align-items: center;
}

.current-personality-name {
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-left: 5px;
    margin-right: 5px;
}

.rotated {
    transform: rotate(-90deg);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.3s;
    border-radius: 34px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    left: 3px;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.label-on,
.label-off {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    pointer-events: none;
}

.label-on {
    left: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.label-off {
    right: 8px;
    opacity: 1;
    transition: opacity 0.2s;
}

input:checked + .slider {
    background-color: #4f46e5;
}

input:checked + .slider::before {
    transform: translateX(30px);
}

input:checked + .slider .label-on {
    opacity: 1;
}

input:checked + .slider .label-off {
    opacity: 0;
}


.arrow {
    cursor: pointer;
    font-weight: 600;
}
.chat-container {
    width: 100%;
    height: 88%;
}

.chat-log {
    position: relative;
}

.chat-background {
    z-index: -1;
    opacity: 0.05;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}


.agent-on {
    background-color: #3478C6;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.agent-off {
    background-color: #5a6268;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#chat:hover::after,
#llm:hover::after {
    visibility: visible;
    opacity: 1;
}
#chat::after{
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    position: absolute;
    top:40px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


#llm::after{
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    position: absolute;
    top:25px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.attach-file {
    cursor: pointer;
}

.page-logo-section {
    display: flex;
}

.arrow-space {
    padding: 0 5px;
    border-radius: 5px;
}

.arrow-space:hover {
    background:  black;
}
