.title-row {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    max-height: 40px;
    line-height: 283%;
    letter-spacing: -0.56px;
    border-top: 1px solid #E6E6E6;
    padding-left: 15px;
    display: flex;
}

.number-and-title {
    width: 100%;
    justify-content: start;
    align-items: start;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-cell {
    justify-content: right;
    display: flex;
    padding: 2px;
    width: 3px;
    height: 12px;
}

.svg-box {
    justify-content: right;
}