document-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--very-light-gray);
    color: var(--default-font-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 40px 20px 0;
}

document-item{
    cursor: pointer;
}

.cell {
    width: 96%;
    padding: 8px 10px 8px 0;
}
.name-cell{
    color: var(--header-font-color);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.action-cell {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.circle-button {
    cursor: pointer;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 33px;
    height: 33px;
}

.circle-button:hover {
    background-color: rgba(85, 85, 85, 0.08);
}