document-item{
    display: block;
    color: var(--default-font-color);
    padding: 20px 0 20px 0;
    border-bottom: 2px solid var(--light-gray-border);
}
.document-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

document-item{
    cursor: pointer;
}

.cell {
    width: 96%;
    padding: 8px 10px 8px 0;
}
.name-cell{
    color: var(--header-font-color);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.action-cell {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.circle-button {
    position: absolute;
    right: -15px;
    cursor: pointer;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 33px;
    height: 33px;
}

.circle-button:hover {
    background-color: rgba(85, 85, 85, 0.08);
}
.infoText-preview{
    padding-top: 10px;
    padding-right: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* change to 2 for 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}