gallery-page {
    width: 100%;
}
.galleries-header{
    font-size: 26px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--very-light-gray);
}
.breadcrumbs{
    display: flex;
    align-items: center;
}
.arrow{
    margin: 0 10px;
}
.page-body{
    padding: 10px;
    overflow: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--white);
}
.gallery-image{
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin: 10px;
}
@media only screen and (min-width: 1000px) {
    .page-body{
        grid-template-columns: repeat(5, 1fr);
    }
}