reduced-paragraph-unit{
    display: flex;
    border-bottom: 1px solid var(--gray-border);
    padding: 8px 15px;
    align-items: center;
    justify-content: space-between;
}
reduced-paragraph-unit:hover{
    cursor: pointer;
}
.row-nr{
    margin-right: 5px;
}

.paragraph-text-container{
    width: 94%;
    display: flex;
    align-items: center;
}
.paragraph-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--light-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.svg-box {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.svg-box:hover {
    background-color: var(--medium-black);
    cursor: pointer;
}

.action-cell {
    width: 33px;
    max-width: 33px;
    max-height: 12px;
    color:  var(--brown-gray);
    display: flex;
    justify-content: right;
    align-items: center;
}