.abstract-subtitle {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.abstract-content {
    white-space: pre-line;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.document-view-page {
    display: flex;
}

.document-content {
    width:100%;
    padding-left:50px;
    padding-right:50px;
}

.document-path {
    cursor: default;
    display: flex;
    align-items: center;
}

.document-title {
        color: #252525;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.path-button {
    color: #121212;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.document-path svg {
    margin: 5px;
}

.new-chapter-btn {
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    background-color: #350549;
}

.add-new-chapter-section {
    display: flex;
    align-items: center;
    justify-content: end;
}
.paragraph-text{
    text-align:justify;
    width:100%;
}
#chapter-sidebar,
#paragraph-sidebar {
    display: none;
}
.abstract-section,.document-title,.path-button,.chapter-unit{
    padding:10px;
    border:2px solid black;
}