.abstract-subtitle {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left:10px;
    padding-right:10px;
}

.abstract-content {
    display:flex;
    white-space: pre-line;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.abstract-content-text{
    padding: 0 10px 10px;
    white-space: pre-wrap;
    flex-wrap:wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
}
.document-view-page {
    display: flex;
    width:100%;
}

.document-content {
    width:calc(100% - 270px);
    padding-left:50px;
   padding-right:20px;
    height:100%;
    min-height:100%;
}

.document-path {
    cursor: default;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #440A46;
    padding-left:10px;
    padding-right:10px;
}

.document-title {
        color: #252525;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
        padding-bottom:10px;
}


.document-path svg {
    margin: 5px;
}

.new-chapter-btn {
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    background-color: #350549;
}

.add-new-chapter-section {
    display: flex;
    align-items: center;
    justify-content: end;
}

#chapter-sidebar,
#paragraph-sidebar {
    display: none;
}
.abstract-section,.path-button,.chapter-unit{
    padding:10px;
}
.thirty-px-horizontal-space{
    width:30px;
    min-width:30px;
}
.path-button:hover{
    cursor:pointer;
}