.script-unit {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border-top: 0.5px solid rgba(217, 212, 238, 0.85);
    color: #494949;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cells-container{
    display: flex;
    width: 100%;
}
.script-unit:hover{
    cursor: pointer;
}
.name {
    margin-right: 10px;
    width: 32%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content{
    margin-right: 10px;
    width: 64%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-cell {
    width: 33px;
    max-width: 33px;
    max-height: 12px;
    color: #555555;
    display: flex;
    justify-content: right;
    align-items: center;
}

.circle-button:hover {
    cursor: pointer;
    background-color: rgba(85, 85, 85, 0.08);
}

.circle-button {
    padding: 7px 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.name-cell {
    cursor: pointer;
}
