.chapter-title-section {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--light-black);
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 10px 8px;
    line-height: normal;
}

.arrow {
    margin-right: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.arrow:focus{
    outline: none;
}

html[theme="dark"] .arrow svg {
    filter: brightness(0) invert(1);
}

.chapter-title:focus {
    outline: none;
    background-color: var(--white-text);
    border-radius: 3px;
}

.ten-px-margin-left {
    margin-left: 10px;
}

.chapter-item {
    cursor: default;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
}

.chapter-content {
    min-width: 0;
    text-align: justify;
    justify-content: start;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.chapter-arrows {
    display: flex;
    width: 42px;
    min-width: 42px;
    justify-content: space-between;
    margin-left: 10px;
    cursor: pointer;
}


.chapter-arrows {
    display: none;
}

.chapter-paragraphs:focus {
    background-color: var(--harsh-gray);
    color: var(--light-black);
    font-weight: 450;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    margin: 0;
}

.chapter-paragraphs:focus p {
    margin: 0;
    padding: 0;
}

.chapter-paragraphs:focus paragraph-item {
    margin: 0;
    padding: 0;
}

.chapter-paragraphs:focus .paragraph-item {
    margin: 0;
    padding: 0;
}

.chapter-paragraphs:focus .paragraph-item p {
    margin: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.hidden {
    display: none;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chapter-title {
    border: none;
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin-left: 3px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.chapter-text {
    width: 100%;
    position: relative;
}

.chapter-item {
    width: 100%;
}

.chapter-paragraphs {
    display:flex;
    flex-direction: column;
    width: 100%;
    gap:8px;
}

.chapter-paragraphs:hover {
    cursor: text;
}

.chapter-content {
    width: 100%;
}


.data-chapter-number {
    width: 17px;
}
.circle-button{
    width: 16px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circle-button:hover {
    background-color: var(--medium-black);
}
.action-cell{
    visibility: hidden;
}
.background-sound-play{
    margin-right: 5px;
    align-items: center;
}
.flex{
    display: flex;
}
.chapter-audio{
    margin-right: 5px;
}
.chapter-audio-section{
    align-items: center;
    position: absolute;
    bottom: 57px;
    right: -10px;
}
