<div class="chapter-header-container" data-local-action="editItem chapterHeader">
    <div class="chapter-title-container">
        <img class="chapter-visibility-arrow pointer unfocusable black-icon" data-local-action="changeChapterDisplay $$chapter-id" src="./wallet/assets/icons/arrow-down.svg" alt="chapter">
        <div class="data-chapter-number $$chapterFontSize $$chapterFontFamily font-color">$$chapterNumber.</div>
        <input type="text" data-local-action="editItem chapterTitle" class="chapter-title focusable $$chapterFontSize $$chapterFontFamily font-color"
               data-metadata="$$titleMetadata"/>
        <div class="chapter-toolbar">
            <div class="toolbar-left-section">
                <div data-local-action="moveChapter up" class="move-chapter-up icon-container right-margin">
                    <img src="./wallet/assets/icons/arrow-up.svg" alt="icon"  loading="lazy" class=" pointer black-icon">
                </div>
                <div data-local-action="moveChapter down" class="move-chapter-down icon-container right-margin">
                    <img src="./wallet/assets/icons/arrow-up.svg" alt="icon"  loading="lazy" class="rotate-down pointer black-icon">
                </div>
                <div data-local-action="openMenu insert-document-element" class="add-elements icon-container">
                    <img class="black-icon" loading="lazy" src="./wallet/assets/icons/square-plus.svg" alt="icon">
                </div>
                <div class="plugins-separator"></div>
                <div class="chapter-plugins-icons"></div>
            </div>

            <div class="toolbar-right-section">
                <div data-local-action="deleteChapter" class="delete-chapter pointer">
                    <img src="./wallet/assets/icons/trash-can.svg" alt="icon" class="pointer black-icon" loading="lazy">
                </div>
            </div>
        </div>
    </div>
    <div class="chapter-plugin-container"></div>
</div>
<div class="chapter-content">
    <div class="chapter-paragraphs">$$chapterContent</div>
</div>
