paragraph-item {
    position: relative;
}

.paragraph-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    font-size: 11px;
}

.highlight-paragraph-header {
    background: var(--commands-background) !important;
}

.paragraph-header-container {
    border-radius: 4px 0;
    width: 100%;
}
.paragraph-toolbar{
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
    background-color: var(--commands-background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid var(--very-light-gray);
}
.toolbar-left-section{
    display: flex;
    align-items: center;
}
.toolbar-right-section{
    display: flex;
    align-items: center;
}
.toolbar-margin{
    margin-right: 20px;
}
.rotate-down{
    transform: rotate(180deg);
}
.commands-icon-text{
    font-size: 14px;
    font-weight: 600;
}
.attachment-circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.highlight-attachment{
    background-color: var(--white);
}
.paragraph-item {
    position: relative;
    cursor: default;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    align-items: center;
}

.header-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
textarea.paragraph-commands{
    line-height: 1.5;
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    background:inherit;
}
.task-line{
    display: flex;
}
.task-result{
    margin-left: 3px;
}
.paragraph-commands a{
 width: fit-content;
}

.eight-px-vertical-space {
    height: 8px;
    width: 100%;
    min-width: 100%;
    min-height: 8px;
}

.paragraph-text:focus {
    outline: none;
    background-color: var(--white-text);
}

.arrow-vertical-spacing-div {
    width: 100%;
    height: 12px;
}

.paragraph-text {
    text-indent: 20px;
    overflow: hidden;
    resize: none;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    cursor: text;
    padding: 10px;
    white-space: pre-wrap;
    min-height: 38px;
    height: fit-content;
    flex-wrap: wrap;
    width: 100%;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
}

.paragraph-text:empty {
    height: 45px;
}

.audio-icon {
    margin-left: 5px;
}

.warning-icon {
    margin-left: 5px;
}

#hide .optional {
    display: none;
}
.menu-container{
    position: relative;
    display: flex;
}
.toolbar-menu {
    position: absolute;
    z-index: 10;
    left: 0;
    font-size: 14px;
    top: 35px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    padding: 5px 0;
    border-radius: 5px;
    background-color: white;
}



.paragraph-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.video-container {
    font-size: 16px;
    background-color: var(--black);
    display: none;
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*height: calc(1080 / 1920 * 100%);*/
}

.top-margin{
    margin-top: 5px;
}

.disabled-pointer-events{
    pointer-events: none;
}

.command-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}
.command-icon{
    margin-right: 5px;
    width: 20px;
}
.personality-icon{
    margin-right: 5px;
    width: 30px;
    object-fit: cover;
    height: 30px;
    border-radius: 50%;
}
.personality-name{
    margin-right: 5px;
}
.silence-duration{
    margin-left: 5px;
}
.command-link{
    display: block;
}
.video-player{
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.img-tag{
    padding: 10px;
}
.controls-mask-paragraph{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.bottom-info-paragraph{
    white-space: initial;
    position: absolute;
    display: flex;
    left: 10px;
    bottom: 10px;
    color: var(--white);
}
.right-margin{
    margin-right: 5px;
}
.big-right-margin{
    margin-right: 10px;
}
.time-section-paragraph{
    display: flex;
    align-items: center;
}
.current-time{
    margin-right: 3px;
}
.time-separator{
    margin-right: 3px;
}
.fullscreen-icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25px;
}
.fullscreen-paragraph-video{
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.play-pause-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlighted-paragraph{
    background-color: var(--white-blue-tint);
}