<div class="paragraph-container">
    <div class="video-container">
        <div class="controls-mask-paragraph">
            <div class="play-pause-container">
                <img loading="lazy" data-local-action="playPause" data-next-mode="play" class="play-pause pointer" src="./wallet/assets/icons/play.svg" alt="playPause">
            </div>
            <div class="bottom-info-paragraph">
                <div class="right-margin">
                    Chapter <span class="chapter-number"></span>
                </div>
                <div class="big-right-margin">
                    Paragraph <span class="paragraph-number"></span>
                </div>
                <div class="time-section-paragraph">
                    <div class="current-time">0:00</div>
                    <span class="time-separator">/</span>
                    <div class="video-duration"></div>
                </div>
            </div>
            <img loading="lazy" class="fullscreen-icon pointer" data-local-action="switchDisplayMode" data-mode="minimized" src="./wallet/assets/icons/fullscreen.svg" alt="fullscreen">
        </div>
        <img loading="lazy" class="paragraph-image" src="$$imageSrc" alt="$$imgAlt" tabindex="0">
        <video class="video-player hidden" preload="metadata" data-id="paragraph-video"></video>
        <audio class="audio-player hidden" preload="metadata" data-id="paragraph-audio"></audio>
        <audio class="chapter-audio hidden" preload="metadata" data-id="chapter-audio"></audio>
<!--        <audio class="paragraph-silence hidden" preload="metadata" data-id="paragraph-silence"></audio>-->
    </div>
    <div class="paragraph-header-container">
        <div class="paragraph-toolbar">
            <div class="toolbar-left-section">
                <img data-local-action="pasteParagraph" loading="lazy" class="paste-icon toolbar-margin pointer hidden" src="./wallet/assets/icons/paste.svg" alt="icon">
                <img data-local-action="moveParagraph up" loading="lazy" class="toolbar-margin pointer" src="./wallet/assets/icons/arrow-up.svg" alt="icon">
                <img data-local-action="moveParagraph down" loading="lazy" class="toolbar-margin rotate-down pointer" src="./wallet/assets/icons/arrow-up.svg" alt="icon">
                <img class="toolbar-margin pointer" loading="lazy" src="./wallet/assets/icons/copy.svg" alt="icon">
                <img data-local-action="cutParagraph" loading="lazy" class="toolbar-margin pointer" src="./wallet/assets/icons/cut.svg" alt="icon">
                <div data-local-action="openMenu insert-document-element" class="toolbar-margin pointer menu-container">
                    <img loading="lazy" src="./wallet/assets/icons/square-plus.svg" alt="icon">
                </div>

                <div data-local-action="openMenu paragraph-comment-menu" class="attachment-circle menu-container comment">
                    <img loading="lazy" class="pointer" src="./wallet/assets/icons/comment.svg" alt="icon">
                </div>

                <div data-local-action="openMenu image-menu" class="attachment-circle menu-container image">
                    <img class="pointer" loading="lazy" src="./wallet/assets/icons/image.svg" alt="icon">
                </div>
                <div data-local-action="openMenu audio-menu" class="attachment-circle menu-container audio">
                    <img class="pointer" loading="lazy" src="./wallet/assets/icons/audio.svg" alt="icon">
                </div>
                <div data-local-action="openMenu video-menu" class="attachment-circle menu-container video">
                    <img class="pointer" loading="lazy" src="./wallet/assets/icons/video.svg" alt="icon">
                </div>
                <div data-local-action="openMenu text-menu" class="attachment-circle menu-container text">
                    <img class="pointer" loading="lazy" src="./wallet/assets/icons/light-bulb.svg" alt="icon">
                </div>
            </div>
            <div class="pointer toolbar-right-section">
                <div class="commands-icon toolbar-margin">
                    <img data-local-action="enterEditModeCommands" class="pointer" loading="lazy" src="./wallet/assets/icons/angle-brackets.svg" alt="icon">
                    <span data-local-action="enterEditModeCommands" class="commands-icon-text">Commands</span>
                </div>
                <img data-local-action="deleteParagraph" loading="lazy" class="pointer" src="./wallet/assets/icons/trash-can.svg" alt="icon">
            </div>
        </div>
        <div class="paragraph-header">
            <div class="header-section">
                <div class="paragraph-commands"></div>
            </div>
            <code class="error-message hidden"></code>
        </div>
    </div>
    <div class="paragraph-text-container" data-paragraph-id="$$data-paragraph-id" tabindex="0">
        <textarea class="paragraph-text focusable" data-local-action="editItem paragraphText" data-metadata="$$data-metadata "></textarea>
    </div>
</div>

