<div class="paragraph-container">
    <paragraph-video-preview data-presenter="paragraph-video-preview"></paragraph-video-preview>
    <div class="paragraph-header-container">
        <div class="paragraph-toolbar">
            <div class="toolbar-left-section">
                <img data-local-action="pasteParagraph" loading="lazy" class="paste-icon toolbar-margin pointer hidden" src="./wallet/assets/icons/paste.svg" alt="icon">
                <img data-local-action="moveParagraph up" loading="lazy" class="toolbar-margin pointer" src="./wallet/assets/icons/arrow-up.svg" alt="icon">
                <img data-local-action="moveParagraph down" loading="lazy" class="toolbar-margin rotate-down pointer" src="./wallet/assets/icons/arrow-up.svg" alt="icon">
                <img class="toolbar-margin pointer" loading="lazy" src="./wallet/assets/icons/copy.svg" alt="icon">
                <img data-local-action="cutParagraph" loading="lazy" class="toolbar-margin pointer" src="./wallet/assets/icons/cut.svg" alt="icon">
                <div data-local-action="openMenu insert-document-element" class="toolbar-margin pointer menu-container">
                    <img loading="lazy" src="./wallet/assets/icons/square-plus.svg" alt="icon">
                </div>

                <div data-local-action="openMenu paragraph-comment-menu" class="attachment-circle menu-container comment">
                    <img loading="lazy" class="pointer" src="./wallet/assets/icons/comment.svg" alt="icon">
                </div>
                $$pluginsIcons
            </div>
            <div class="pointer toolbar-right-section">
                <div class="commands-icon toolbar-margin">
                    <img data-local-action="enterEditModeCommands" class="pointer" loading="lazy" src="./wallet/assets/icons/angle-brackets.svg" alt="icon">
                    <span data-local-action="enterEditModeCommands" class="commands-icon-text">Commands</span>
                </div>
                <img data-local-action="deleteParagraph" loading="lazy" class="pointer" src="./wallet/assets/icons/trash-can.svg" alt="icon">
            </div>
        </div>
        <div class="paragraph-header">
            <div class="header-section">
                <div class="paragraph-commands"></div>
            </div>
            <code class="error-message hidden"></code>
        </div>
    </div>
    <div class="paragraph-text-container" data-paragraph-id="$$data-paragraph-id" tabindex="0">
        <textarea wrap="soft" class="paragraph-text focusable $$fontFamily $$fontSize font-color" data-local-action="editItem paragraphText" data-metadata="$$data-metadata "></textarea>
    </div>
</div>

