agent-page {
    width: 0;
    height: 100%;
    transition: width 0.3s;
    min-width: 0;
    display: none;
}

.middle-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.middle-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--chat-background);
    z-index: -2;
}

.page-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 20px 40px;
    width: 100%;
}

.space-container {
    display: flex;
}

.space-controls {
    z-index: 10;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--chat-header-background);
    border-radius: 10px;
    border: 2px solid var(--chat-header-border);
}

.chats {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.selected-chat {
    background: var(--selected-chat);
    border-radius: 10px;
    outline: 1px solid var(--selected-chat-outline);
}

.chat-name {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.arrow {
    cursor: pointer;
    font-weight: 600;
}

.current-personality {
    display: flex;
    align-items: center;
}

.current-personality-name {
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-left: 5px;
    margin-right: 5px;
}

*[theme="dark"] .current-personality {
    color: var(--light-brown);
}

.personalities-list {
    padding: 5px 0;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    color: var(--dark-text);
    border-radius: 10px;
    height: 150px;
    display: none;
    top: 50px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    z-index: 1;
    flex-direction: column;
    min-width: 160px;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: #888 #f1f1f1;
}

.personalities-list::-webkit-scrollbar {
    display: block;
}

.personalities-list > * {
    display: flex;
    justify-content: start;
    align-items: center;
}

.rotated {
    transform: rotate(-90deg);
}

.private-chat {
    display: flex;
    align-items: center;
    position: relative;
}

.chat-container {
    width: 100%;
    height: 88%;
}

.chat-log {
    position: relative;
}

.chat-background {
    z-index: -1;
    opacity: 0.05;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}


.chat-input-container {
    background: #E9E9E9;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: sticky;
    padding:5px;
    padding-block-start:10px;
    padding-block-end: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-inline-start:15px;
    margin-inline-end:15px;
    padding-inline-start:10px;
    background: var(--chat-input-container);
    border-radius: 6px;
    min-height: 60px;
    max-height: 50px;
    width: 100%;
    height:120px;
}

#input {
    min-height: 60px;
    max-height: 60px;
    resize: none;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
}

.attach-file {
    cursor: pointer;
}

.conversation {
    display:flex;
    gap: 10px;
    flex-direction:column;
    overflow-y: scroll;
    height: calc(100% - 120px);
}

.chat-box-container {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    align-items: stretch;
}


.chat-box {
    padding: 5px 5px 5px 12px;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    font-weight: 400;
    font-size: 16px;
}


.user-box {
    width: auto;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 16px 16px 16px 16px;
    color: var(--user-text);
    background: var(--white-text);
    margin-inline-end: 10px;
    margin-inline-start: 10px;
}

.robot {
    display: flex;
    justify-items: flex-end;
    flex-direction: row-reverse;
}

.robot-box {
    width: auto;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 16px 16px 16px 16px;
    background: var(--light-blue);
    color: var(--robot-text);
    margin-inline-start: 58px;
}

.page-logo-section {
    display: flex;
}


.arrow-space {
    padding: 0 5px;
    border-radius: 5px;
}

.arrow-space:hover {
    background: var(--black);
}

.select-settings-container {
    border-radius: 10px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
}

.settings-list-container {
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    flex-direction: column;
    background-color: var(--white);
}

.settings-list-container > div {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--medium-blue);
}

.settings-list-container > div:hover {
    background-color: #A5D0F430;
}
