agent-page {
    display: flex;
    flex-direction: column;
    height:100%;
}

.space-controls {
    z-index: 10;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--chat-header-background);
    border-radius: 10px;
    border: 2px solid var(--chat-header-border);
}

.page-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 20px 40px;
    width: 100%;
}

.space-container {
    display: flex;
}

#chat-page-container {
    display: flex;
    height: calc(100% - 70px);
}

.chats {
    display: flex;
    height: 100%;
    align-items: center;
}

.selected-chat {
    background: var(--selected-chat);
    border-radius: 10px;
    outline: 1px solid var(--selected-chat-outline);
}

.chat-name {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.current-personality {
    display: flex;
    align-items: center;
}

.current-personality-name {
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-left: 5px;
    margin-right: 5px;
}

*[theme="dark"] .current-personality {
    color: var(--light-brown);
}

.personalities-list {
    padding: 5px 0;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    color: var(--dark-text);
    border-radius: 10px;
    height: fit-content;
    max-height: 30vh;
    display: none;
    top: 70px;
    left: 10px;
    background-color: var(--white);
    position: absolute;
    z-index: 1;
    flex-direction: column;
    width: fit-content;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: #888 #f1f1f1;
}

.personalities-list::-webkit-scrollbar {
    display: block;
}

.personalities-list > * {
    display: flex;
    justify-content: start;
    align-items: center;
}

.rotated {
    transform: rotate(-90deg);
}

.private-chat {
    display: flex;
    align-items: center;
    position: relative;
}