dialog[class="modal"]
{
    padding: 0;
    border:none;
}
.add-comment-modal{
    font-family: Poppins;
}
.close-modal-container>button{
    background-color: white;
    font-size: 20px;
}
.modal-header{
    padding:16px 10px 10px 16px;
    display: flex;
    justify-content: space-between;
}
.modal-content{
    padding:0px 16px 16px 16px;
}

#add-comment-hr{
    height: 1px;
    border-style: none;
    background-color: #E5E5E5;
    padding: 0;
}
.comment-input-container{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 8px;
}
#comment-body textarea{
    border: none;
    resize: none;
    outline:none;
    font-family: var(--default-font);
}
#comment-body textarea:focus{
    border: none;
}
#comment-body textarea::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}
.robot-message{
    margin-bottom: 15px;
}
.add-comment-button{
    background-color: #429E9D;
    color:white;
    text-align: center;
    width: 100%;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.comment-value{
    color:#677A7ACC;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
}