<link rel="stylesheet" href="./components/add-comment-modal/add-comment-modal.css">

<div class="add-comment-modal">
    <div class="modal-header">
        <div class="modal-title">Add comment</div>
        <div class="close-modal-container">
            <button data-action="closeModal">&times;</button>
        </div>
    </div>
    <hr id="add-comment-hr">
    <div class="modal-content">
        <form novalidate>
            <div class="comment-input-container" id="comment-body">
                <div class="form-item">
                    <textarea class="form-input" name="comment" data-id="comment-body"  required placeholder="Your comment" rows="15" cols="42"></textarea>
                </div>
                <div><img src="./assets/icons/link.svg" alt=""></div>
            </div>

            <div class="robot-container">
                <img src="./assets/icons/robot.svg" alt="">
                <img src="./assets/icons/robot-message.svg" alt="" class="robot-message">
            </div>
            <div class="comment-value">
                *Comment's value: 0.2$
            </div>
            <button data-action="createComment" class="add-comment-button">Add</button>
        </form>
    </div>
</div>
