.documents-page{
    font-family: Poppins;
}
.documents-page-header {
    display: flex;
    justify-content: space-between;
    width:100%;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    box-shadow: 0px 2px 4px 0px var(--chatbots-shadow);
}
.documents-header-title{
    width: 32%;
    color:  var(--left-sidebar);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documents-header-wrapper{
    width:100%;
    padding-left:40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:40px;
}
.documents-titles{
    width:100%;
    padding-left:40px;
}
.documents-buttons-wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:325px;
}
