.table-header {
    display: flex;
    justify-content: space-between;
    color: #363C44;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width:100%;
    box-shadow: 0px 2px 4px 0px #00000047;
}
.add-icon {
    margin-right: 5px;
    margin-bottom: 1px;
}

.cell {
    width: 32%;
    padding: 8px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documents-cell{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #511A53;
    width: 32%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cell2 {
    width: 64%;
}
.document-header-wrapper,.table-content{
    padding-left:40px;
    width:100%;
}
.document-header-wrapper{
    display:flex;
    padding-top:20px;
    align-items:center;
    padding-bottom:20px;
    justify-content: space-between;
    padding-right:40px;
}

.generate-button,.add-button {
    display: flex;
    padding: 6px 12px 6px 12px;
    border-radius: 17px;
    gap: 9px;
    background: #A42E70;
    color: #FFFFFF;
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.document-buttons-wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:325px;
}