.documents-page{
    font-family: Poppins;
}
.documents-page-header {
    display: flex;
    justify-content: space-between;
    width:100%;
    color: #363C44;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    box-shadow: 0px 2px 4px 0px #00000047;
}
.add-icon {
    margin-right: 5px;
    margin-bottom: 1px;
}

.cell {
    width: 32%;
    padding: 8px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documents-header-title{
    width: 32%;
    color: #511A53;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.documents-header-wrapper,.documents-titles{
    width:100%;
    padding-left:40px;
}
.documents-header-wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:40px;
}

.generate-button,.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 6px 12px 6px 12px;
    border-radius: 17px;
    gap: 9px;
    background: #A42E70;
    min-width: fit-content;
    cursor: pointer;
}
.documents-buttons-wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:325px;
}