#page-content{
    overflow:hidden;
}
.language,
.personality {
    color: var(--gray-black);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#language,
#personality {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    color: var(--settings-page-theme);
    border: 0.5px solid var(--lighter-black);
    background:none;
    padding-left:10px;
}
.details{
    margin-top: 15px;
}
#prompt{
    width:100%;
    height:100%;
    border: 0.5px solid var(--prompt-shadow);
    border-radius: 8px;
    color: var(--prompt-text);
    padding:12px;

}
.form-item > textarea {
   width: 100%;
    height: 100%;
    resize: none;
    border: 0.5px solid var(--lighter-black);
    border-radius: 8px;
}
option {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: var(--settings-page-theme);
    line-height: normal;
}
.number-input {
    max-width: min-content;
}
.form-button{
    margin-top: 30px;
}
.translate-content-wrapper{
    height:100%;
    width:100%;
}
.translate-content {
    display: flex;
    min-height: max-content;
    width: 100%;
    height:50%;
    padding: 40px;
}
.translate-generated-content {
    border: 0.5px solid var(--proof-reader-content);
    display: flex;
    min-height: fit-content;
    width:100%;
    height: 50%;
    background: var(--flow-marketplace);
}
.form-item-container {
    width: 100%;
    display:flex;
    flex-direction:column;
}
.translate-page {
    height: 100%;
}
#text-textarea {
    height: 80%;
    width: 100%;
}
@media screen and (max-width: 1100px) {
    .generate-content {
        flex-direction: column;
        justify-content: center;
    }

}
.translate-cell{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: var(--left-sidebar);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.translate-header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.translate-header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    box-shadow: 0 2px 4px 0 var(--chatbots-shadow);
}
.translate-form{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}
.translate-content-left,.translate-content-right{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.translate-content-left{
    margin-right:5%;
    width:40%;

}
.translate-content-right{
    margin-left:5%;
    width:60%;
}
#text{
    width:100%;
    height:100%;
    border: 0.5px solid var(--prompt-shadow);
    border-radius: 8px;
    color: var(--prompt-text);
    padding:12px;

}
.form-item{
    width:100%;
    margin-bottom: 15px;
}
.generated-text-title{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color:var(--generated-text-title);
}
.translate-generated-content{
    padding:40px;
    display:flex;
    flex-direction:column;
}
.generated-text,
.observations{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: justify;
    color:var(--proofreader-generated-content);
    overflow-y: scroll;
    width:95%;
    height: 170px;
}
.generated-text-container{
    display:none;
    padding: 20px 0 50px 0;
}
.ai-text-subtitle{
    color: var(--gray-black);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.generated-text-buttons{
    margin-top:8px;
    display:flex;
    flex-direction:column;
    height:60px;
    justify-content:space-between;
    cursor:pointer;
}

#refresh-button,
#copy-button{
    margin-left: 10px;
}
#refresh-button:hover,
#copy-button:hover{
    cursor: pointer;
}
.improved-text-container{
    display: flex;
}