<link rel="stylesheet" href="./wallet/components/suggest-abstract-modal/suggest-abstract-modal.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-abstract">
                Suggested Abstract
                <button type="button" class="close" data-local-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="suggested-abstracts">
                    <div>
                        <label for="abstract1">Abstract 1</label>
                        <input type="checkbox" id="abstract1" name="suggested-abstract" value="Abstract 1" />
                    </div>
                    <div>
                        <label for="abstract2">Abstract 2</label>
                        <input type="checkbox" id="abstract2" name="suggested-abstract" value="Abstract 2" />
                    </div>
                    <div>
                        <label for="abstract3">Abstract 3</label>
                        <input type="checkbox" id="abstract3" name="suggested-abstract" value="Abstract 3" />
                    </div>
                    <div>
                        <label for="abstract4">Abstract 4</label>
                        <input type="checkbox" id="abstract4" name="suggested-abstract" value="Abstract 4" />
                    </div>
                    <div>
                        <label for="abstract5">Abstract 5</label>
                        <input type="checkbox" id="abstract5" name="suggested-abstract" value="Abstract 5" />
                    </div>
                    <div>
                        <label for="abstract6">Abstract 6</label>
                        <input type="checkbox" id="abstract6" name="suggested-abstract" value="Abstract 6" />
                    </div>
                    <div>
                        <label for="abstract7">Abstract 7</label>
                        <input type="checkbox" id="abstract7" name="suggested-abstract" value="Abstract 7" />
                    </div>
                    <div>
                        <label for="abstract8">Abstract 8</label>
                        <input type="checkbox" id="abstract8" name="suggested-abstract" value="Abstract 8" />
                    </div>
                    <div>
                        <label for="abstract9">Abstract 9</label>
                        <input type="checkbox" id="abstract9" name="suggested-abstract" value="Abstract 9" />
                    </div>
                    <div>
                        <label for="abstract10">Abstract 10</label>
                        <input type="checkbox" id="abstract10" name="suggested-abstract" value="Abstract 10" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="wide-btn" data-local-action="addSelectedAbstract"> Done </button>
                </div>
            </form>
        </div>
    </div>
</div>