galleries-page {
    width: 100%;
}
.galleries-header{
    font-size: 26px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--very-light-gray);
}
.gallery-name{
    width: 45%;
}
.gallery-last-modified{
    width: 45%;
}
.header-buttons{
    display: flex;
}
.left-margin{
    margin-left: 10px;
}
.table-labels{
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--very-light-gray);
}

