.table-header {
    padding-left: 15px;
    display: flex;
    color: #363C44;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.button-margin{
    margin-right: 10px;
}
#export-svg{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.add-icon {
    margin-right: 5px;
    margin-bottom: 1px;
}
.table-name{
    width: 31.5%;
    margin-bottom: 10px;
}
.table-description{
    margin-bottom: 10px;
}
.buttons-section {
    display: flex;
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.no-data-loaded{
    padding-left: 15px;
}
.filters-container{
    position: relative;
}
.filters{
    display: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #A42E70;
    position: absolute;
    top:0;
    left: 95px;
    flex-direction: column;
}
.filter{
    display: flex;
    padding: 0 10px 0 10px;
    width: 150px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}