application-item {
    border: 1px solid var(--application-marketplace-border);
    width: 330px;
    height: 140px;
    background-color: var(--application-marketplace-background);
    padding: 20px;
}
.app-icon{
    width: 47px;
    height: 47px;
}
application-item{
    display: flex;
}
.app-img-container{
    margin-right: 20px;
}
.app-item-name{
    font-weight: 600;
    font-size: 16px;
}
.app-button{
    font-size: 12px;
    color: var(--blue-button);
}
.container-header{
    margin-bottom: 10px;
}