<div class="effect-container" data-local-action="editEffect">
  <div class="effect-row space-between">
    <span class="effect-name">$$effectName</span>
    <img data-local-action="deleteEffect $$effectId" class="delete-effect" src="./wallet/assets/icons/trash-can.svg" alt="trash">
  </div>
  <div class="effect-row">
    <img data-local-action="playEffect" class="effect-play" src="./wallet/assets/icons/play.svg" alt="play">
    <span class="effect-play-at">Play at: $$effectPlayAt</span>
  </div>
  <audio class="effect-source hidden"></audio>
</div>
