.personality-image{
    height: 150px;
    width: 150px;
    border-radius: 9px;
    object-fit: cover;
}
.personality-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}