.space-item{
    margin-top: 0;
}
.spaces-list {
    display: none;
    flex-direction: column;
    min-width: 160px;
    right: 10px;
    overflow: auto;
}

.spaces-list > *{
    padding: 0 0 0 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
}

.add-space-txt,
.logout-txt{
    margin-left: 10px;
}

.add-space-btn,
#logout-button {
    background-color: #511A53;
    outline: none;
    border: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}


.current-space-btn {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: 600;
    max-width: fit-content;
    color: #FFF;
}

.space-name {
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-right: 10px;
    margin-left: 10px;
}

.arrow-space {
    padding: 0 5px;
    border-radius: 5px;
}

.arrow-space:hover {
    background: rgba(0, 0, 0, 0.33);
}