<link rel="stylesheet" href="./wallet/web-components/components/space-dropdown/space-dropdown.css">
<div class="space-dropdown" data-presenter="space-dropdown">
    <div class="current-space-btn" data-local-action="showSpaces">
        <div class="space-name">$$currentSpaceName</div>
        <img src="./wallet/assets/icons/arrow.svg" alt="arrow">
    </div>
    <div class="spaces-list">$$spacesDiv
        <button class="add-space-btn" data-local-action="addSpace">Add Space</button>
    </div>
</div>
