.space-item{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
.spaces-list {
    display: none;
    flex-direction: column;
    min-width: 160px;
    right: 10px;
    overflow: auto;
}
.page-logo-section{
    display: flex;
}
.spaces-list > *{
    padding: 5px 5px 5px 30px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.add-space-txt,
.logout-txt{
    margin-left: 10px;
}

.add-space-btn,
#logout-button {
    background-color: var(--left-sidebar);
    outline: none;
    border: none;
    color: var(--white-text);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}


.current-space-btn {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: 600;
    max-width: fit-content;
    color: var(--white-text);
}

.space-name {
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-right: 10px;
    margin-left: 10px;
}

.arrow-space {
    padding: 0 5px;
    border-radius: 5px;
}

.arrow-space:hover {
    background: var(--space-hover);
}