space-dropdown{
    position: relative;
}
.space-container{
    display: flex;
    cursor: pointer;
}
.current-space-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
.breadcrumbs {
    color: var(--medium-blue);
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-right: 10px;
    margin-left: 10px;
}
.spaces-list {
    display: none;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: 1;
    flex-direction: column;
    min-width: 160px;
    right: 10px;
    overflow: auto;
    width: max-content;
}
.spaces-list > *{
    padding: 5px 5px 5px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
}
.add-space-txt,
.logout-txt{
    margin-left: 10px;
}

.add-space-btn,
#logout-button {
    outline: none;
    border: none;
    background: none;
    color: var(--medium-blue);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.rotated{
    transform: rotate(-90deg);
}