.title-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid var(--gray-border);
}
.content{
    position: relative;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    border-radius: 10px;
    color: var(--light-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}
.content:focus{
    background-color:  var(--harsh-gray);
    color: var(--light-black);
    font-weight: 450;
}
.number-and-title {
    display: flex;
    width:calc(100% - 40px);
}
.alternative-abstract-number{
    height:100%;
    min-width:18px;
    padding-left:1px;
    padding-right:1px;
}
.svg-box{
    padding: 7px 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    height:33px;
    width:33px;
    min-width: 33px;
    max-width: 33px;

}

.action-box-with-select{
    margin-top: 0;
    margin-left: -60px;
}
.action-cell {
    min-height:100%;
    color:  var(--brown-gray);
    display: flex;
    justify-content: right;
}

.svg-box:hover {
    background-color: var(--medium-black);
    cursor: pointer;
}