dialog{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}
application-preview-page-modal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}