dialog{
    width: 600px;
    height: 400px;
}
llm-animation{

}
.llm-animation{
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    width: 600px;
    height: 400px;
}
.background-container{
    display: flex;
    z-index: -1;
    width: 1200px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    animation: slideToLeft 20s infinite linear;
}
.background{
    background: url('/wallet/assets/images/llm-animation-background.png') repeat-x;
    background-size: cover;
    width: 600px;
    height: 400px;
    opacity: 0.5;
}
@keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.main-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    color: var(--left-sidebar);
    font-size: 32px;
    font-weight: 400;
}
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-out-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20%);
    }
}
.thinking{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--left-sidebar);
}