personalities-page{
    display: flex;
}
.table{
    width: calc(100% - 270px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
personality-unit{
    padding: 25px;
}

.add-personality-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}
.square-container{
    border: 6px solid  var(--button-purple);
    border-radius: 9px;
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    grid-template-areas:"inner-div";
}

.square-container:hover{
    cursor: pointer;
}
.horizontal-line{
    margin: 35px;
    background-color:  var(--button-purple);
    width: 68px;
    height: 9px;
    grid-area: inner-div;
}
.vertical-line{
    margin: 35px;
    background-color:  var(--button-purple);
    width: 9px;
    height: 68px;
    grid-area: inner-div;
}
.text{
    font-weight: 500;
    font-size: 22px;
}
.button-text{
    color:  var(--button-purple);
}
.space-controls{
    display: flex;
    align-items: center;
    padding: 20px 40px;
}