.custom-radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.radio-selection{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #CCCCCC;
}
.custom-radio.selected .radio-selection {
    background-color: #4A4A4B;
}