.square-image-container {
    min-width: 400px;
    min-height: 400px;
    border-style: dashed;
    border-radius: 2px;
    border-color: var(--left-sidebar);
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    padding: 0;
    font-weight: 300;
    color:  var(--white-text);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.modal-header{
    padding: 5px 20px 5px 20px;
    margin-bottom: 5px;
    background: var(--button-purple);
    display: flex;
    justify-content: space-between;
}
.icon-container {
    text-align: center;
}

.icon-container p {
    margin-top: 10px;
    color: var(--medium-gray);
}

.file-info {
    margin-top: 20px;
    font-size: 14px;
    color:  var(--form-input-error);
}
.image-upload-form-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.image-upload-form{padding:20px;}