documents-page{
    overflow: scroll;
}
.page-title{
    font-size: 26px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.documents-page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    box-shadow: 0px 2px 4px 0px var(--chatbots-shadow);
}

.documents-header-title {
    width: 32%;
    color: var(--left-sidebar);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documents-header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}

.documents-titles {
    width: 100%;
    padding-left: 40px;
}

.documents-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.general-button-reversed-colors {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--medium-blue);
    background: var(--white-text);
    width: max-content;
    height: 36px;
    padding: 6px 11px 6px 11px;
    border:1px solid var(--medium-blue);
    border-radius:10px;
    gap: 5px;
    cursor: pointer;
}
.right-margin{
 margin-right: 10px;
}
.placeholder-document{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--very-light-gray);
    color: var(--medium-gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 40px 20px 0;
}
.filter-container{
    display: flex;
    align-items: center;
}
.documents-select{
    margin: 0;
    width: 140px;
}