documents-page{
    overflow: scroll;
}
.page-title{
    color: var(--header-font-color);
    font-size: var(--page-header-font-size);
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.documents-header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--page-padding);
    border-bottom: 2px solid var(--light-gray-border);
}

.documents-titles {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.documents-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.general-button-reversed-colors {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--strong-blue);
    background: var(--white-text);
    width: max-content;
    height: 36px;
    padding: 6px 11px 6px 11px;
    border:1px solid var(--strong-blue);
    border-radius:10px;
    gap: 5px;
    cursor: pointer;
}
.right-margin{
 margin-right: 10px;
}
.placeholder-document{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--very-light-gray);
    color: var(--default-font-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 40px 20px 0;
}
.filter-container{
    display: flex;
    align-items: center;
}
.documents-select{
    margin: 0;
    width: 190px;
}