<link rel="stylesheet" href="./wallet/components/modals/add-personality-modal/add-personality-modal.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Add a new personality
                <button type="button" class="close" data-local-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-item">
                    <label class="form-label" for="shortname">Shortname</label>
                    <input class="form-input" name="shortname" data-id="shortname" type="text" id="shortname" required placeholder="Add a shortname">
                </div>

                <div class="form-item">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-input" name="description" data-id="description" type="text" id="description" required placeholder="Add a description">
                </div>

                <div class="modal-footer">
                    <button class="wide-btn" data-local-action="submitForm">Add personality</button>
                </div>
            </form>
        </div>
    </div>
</div>