<div class="actions-section">
  <button class="general-button" data-local-action="insertVideo">Insert Video</button>
  <button class="delete-video general-button hidden" data-local-action="deleteVideo">Delete Video</button>
</div>
<div class="view-section">
  <video class="paragraph-video hidden" controls></video>
</div>
<div class="lipsync-section">
  <div class="section-header">Lip Sync</div>
  <div class="section-content">
    <button class="general-button" data-local-action="insertLipSync">Insert Lip Sync</button>
    <button class="delete-lipsync general-button hidden" data-local-action="deleteLipSync">Delete Lip Sync</button>
  </div>
</div>