<div class="actions-section">
    <button class="general-button" data-local-action="insertVideo">Insert Video</button>
    <button class="delete-video general-button hidden" data-local-action="deleteVideo">Delete Video</button>
</div>
<div class="view-section hidden">
    <video class="paragraph-video" controls></video>
    <div class="video-duration">
        <div class="form-item start-time">
            <label class="form-label" for="start">Start Time</label>
            <input class="form-input" type="number" id="start" min="0" step="0.1">
        </div>
        <div class="form-item">
            <label class="form-label" for="end">End Time</label>
            <input class="form-input" type="number" id="end" min="0" step="0.1">
        </div>
        <button class="general-button hidden save-video-duration" data-local-action="saveVideoDuration">Save</button>
    </div>
</div>
<div class="lip-sync-section">
    <label class="section-header" for="lip-sync">Lip Sync</label>
    <input data-local-action="handleCheckbox" type="checkbox" class="lip-sync-checkbox" id="lip-sync">
</div>