video-menu{
    display: block;
    width: 450px;
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 7.3px 0px #00000040;
}
.actions-section{
    display: flex;
    margin-bottom: 10px;
}
.delete-video,
.delete-lipsync{
    margin-left: 10px;
}
.paragraph-video{
    width: 400px;
}
.section-header{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.section-content{
    display: flex;
}