<div class="actions-section">
  <button class="general-button" data-local-action="insertVideo">Insert Video</button>
  <button class="delete-video general-button hidden" data-local-action="deleteVideo">Delete Video</button>
</div>
<div class="view-section">
  <video class="paragraph-video hidden" controls></video>
</div>
<div class="lip-sync-section">
  <label class="section-header" for="lip-sync">Lip Sync</label>
  <input data-local-action="handleCheckbox" type="checkbox" class="lip-sync-checkbox" id="lip-sync">
</div>