left-sidebar {
    background-color: var(--left-sidebar-background);
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 75px;
    position: relative;
}

.features-list-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 72.5%;
}
.features-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-section {
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    height: 20%;
}
.user-photo-container {
    position: relative;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: visible;
}

.user-action-menu {
    border-radius: 5px;
    display: none;
    position: absolute;
    left: 105%;
    top: 15px;
    width: 200px;
    color: var(--white-text);
    background-color: var(--left-sidebar-background);
    flex-direction: column;
    z-index: 2;
}

.feature{
    justify-content: center;
    position: relative;
    align-items: center;
    display: flex;
    padding: 5px;
    margin-top: 10px;
    max-height: 100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}
.app-focus{
    left: -12px;
    position: absolute;
    height: 80%;
    width: 5px;
    border-radius: 7px;
    background-color: var(--left-sidebar);
}
#selected-page {
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.first {
    margin-top: 0;
    margin-bottom: 10px;
}
.page-logo {
    position: relative;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    object-fit: cover;
}

.user-photo {
    width: 41px;
    height: 41px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.user-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}



.item {
    margin-top: 10px;
}
.spaces-list{
    color: var(--white-text);
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--left-sidebar-background);
}
.app-name {
    padding: 5px;
    z-index: 1;
    color: var(--white-text);
    background: var(--left-sidebar-background);
    border: 1px solid var(--very-light-gray);
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    left: 100%;
}

.notifications {
    cursor: pointer;
    position: relative;
}

.notifications-box {
    margin-left: 35px;
    padding: 10px;
    color: var(--very-light-gray);
    box-shadow: 0 1px 6px 0 var(--very-light-gray);
    z-index: 1;
    border-radius: 5px;
    border: 1px solid var(--blue-border);
    background: var(--white);
    bottom: 0;
    left: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 200px;
}

html[theme="dark"] {

}
.app-separator{
    background-color: #505050;
    height: 2.5px;
    margin: 5px 0;
    width: 70%;
}
.long{
    width: 82%;
}
.focus-bridge {
    position: absolute;
    top:0;
    width: 235px;
    height: 50px;
    z-index: 2;
}
#space{
    left: 65px;
    top: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}