left-sidebar {
    background-color: var(--header-font-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 75px;
    width:75px;
    position: relative;
    justify-content: space-between;
    z-index:2;
}
.sidebar__upper{
    padding-block-start:10px;
    display:flex;
    flex-direction: column;
}

.pages-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    scrollbar-width: initial;
}
.installed-applications::-webkit-scrollbar {
    display: block;
}
.installed-applications{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    width:100%;
}
.installed-applications::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #ec0d0d;
}

.installed-applications::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.default-pages{
    width: 100%;
}
.sidebar-item {
    position: relative;
    display:flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
}

.sidebar-item-title {
    margin-left: 12px;
    color: var(--default-font-color);
}
.closed{
    display: none;
}

.bottom-section {
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}
.user-action-menu {
    padding: 5px 0;
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    left: 105%;
    top: 0;
    width: 200px;
    color: var(--white-text);
    background-color: var(--header-font-color);
    flex-direction: column;
    z-index: 2;
}

.page{
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    max-height: 100%;
    width:100%;
}
.page-name-toolip{
    padding: 5px;
    position: absolute;
    top: 8px;
    left: 60px;
    background-color: var(--header-font-color);
    color: var(--plugin-focus);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--gray-button-text);
}
.page-logo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}
.app-focus{
    left: -1px;
    position: absolute;
    height: 80%;
    width: 5px;
    border-radius: 7px;
    background-color: var(--strong-blue);
}
#selected-page {
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}


.page-logo {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.user-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.toggle-theme{
    width:26px;
    height:26px;
    cursor: pointer;
}
.item {
    font-size:10pt;
    margin-top: 15px;
    color: var(--plugin-focus);
}
.spaces-list{
    color: var(--white-text);
    background-color: var(--header-font-color);
    overflow-y: scroll;
    max-height: 180px;
}
.space-item{
    padding: 10px 10px 10px 25px;
    color: var(--plugin-focus);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.space-item:hover{
    background-color: var(--gray-button-text);
    color: var(--option-hover);
}
.current-space{
    background-color: var(--gray-button-text);
    color: var(--option-hover);
}
.thin-line {
    height: 0;
    border-top: none;
    box-shadow: 0 0 0 0.3px var(--plugin-focus);
}
.spaces-menu {
    width: 170px;
    z-index: 1;
    color: var(--plugin-focus);
    background: var(--header-font-color);
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    left: 102%;
    top: 10px;
    font-weight: 500;
    font-size: 14px;
}
.user-email{
    padding: 10px;
    border-bottom: 2px solid var(--plugin-focus);
}
.spaces-label{
    padding: 10px;
}
.notifications {
    cursor: pointer;
    position: relative;
}

.notifications-box {
    margin-left: 35px;
    padding: 10px;
    color: var(--very-light-gray);
    box-shadow: 0 1px 6px 0 var(--very-light-gray);
    z-index: 1;
    border-radius: 5px;
    border: 1px solid var(--light-gray-border);
    background: var(--white);
    bottom: 0;
    left: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 200px;
}

html[theme="dark"] {

}
.app-separator{
    background-color: var(--plugin-focus);
    height: 2px;
    width: 42px;
    margin-block:10px;
}
.create-space,
.logout{
    padding: 10px;
    border-top: 2px solid var(--plugin-focus);
}
.create-space:hover,
.logout:hover{
    background-color: var(--gray-button-text);
    color: var(--option-hover);
}
.logout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.focus-bridge {
    position: absolute;
    top:0;
    width: 90px;
    height: 50px;
    z-index: 2;
}
#space{
    left: 65px;
    top: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}
.toasts-container{
    position: absolute;
    width: 400px;
    left: 75px;
    height: 100vh;
    top: 0;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: end;
}
.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.sidebar-item:hover .svg-container {
    background-color: var(--gray-button-text);
}
