audio-menu{
    display: block;
    width: 450px;
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 7.3px 0px #00000040;
}
.buttons-container{
    display: flex;
    margin-bottom: 10px;
}
.section-header{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tts-section{
    display: flex;
    flex-direction: column;
}
.form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-input{
    background-color: var(--white);
    font-size: 14px;
    font-weight: 600;
}
.form-item{
    margin-bottom: 10px;
}
.form-footer{
    margin-bottom: 10px;
}
.visible-section{
    display: block;
    align-items: center;
}

audio:not([controls]) {
    display: block;
}
.range{
    width: 160px;
    display: flex;
    flex-direction: column;
}
.equal-width{
    width: 50%;
}
.wide-button{
    width: 100px;
    justify-content: center;
}
.bottom-row{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.paragraph-audio{
    width: 100%;
}