<div class="audio-options">
    <div class="buttons-container">
        <button data-local-action="insertAudio" class="general-button right-margin">Insert Audio</button>
        <button data-local-action="insertSoundEffect" class="general-button right-margin hidden">Insert Sound Effect</button>
        <button data-local-action="deleteAudio" class="general-button delete-audio hidden">Delete Audio</button>
    </div>
    <audio controls class="paragraph-audio hidden"></audio>
</div>
<div class="silence-section">
    <div class="section-header">Silence</div>
    <div class="current-silence-time hidden">
        <span class="section-subheader">Current Time:</span>
        <span class="silence-time"></span>
        <span> seconds</span>
    </div>
    <div class="section-content">
        <button data-local-action="showSilencePopup off" class="general-button right-margin">Insert Silence</button>
        <button data-local-action="deleteSilence" class="general-button delete-silence hidden">Delete Silence</button>
    </div>
</div>
<form class="tts-section">
    <div class="section-header">Text to Speech</div>
    <button class="general-button delete-speech hidden" data-local-action="deleteSpeech">Delete Speech</button>
    <div class="form-row">
        <div class="form-item equal-width">
            <label for="personality" class="form-label">Select Personality</label>
            <select class="form-input" id="personality" data-id="personality" name="personality" required>
                <option disabled selected value="">Select Personality</option>
                $$personalitiesHTML
            </select>
        </div>
        <div class="form-item">
            <label for="emotion" class="form-label">Select Emotion</label>
            <select class="form-input" id="emotion" data-id="emotion" name="emotion" required>
                <option disabled selected value="">Select Emotion</option>
                $$emotionsHTML
            </select>
        </div>
    </div>
    <div class="bottom-row">
        <div class="range">
            <label for="styleGuidance" class="form-label">Emotion Intensity</label>
            <input type="range" name="styleGuidance" id="styleGuidance" min="1" max="30" value="15">
        </div>
        <button class="general-button wide-button maintain-focus" data-local-action="textToSpeech">Insert</button>
    </div>
</form>
