.title-row {
    font-size: 14px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 283%;
    letter-spacing: -0.56px;
    border-top: 1px solid var(--gray-border);
    padding-left: 15px;
    display: flex;
}

.number-and-title {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.action-cell {
    justify-content: right;
    display: flex;
    width: 40px;
    padding: 3px;
}

.svg-box {
    align-items: center;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    height:33px;
    width:33px;
    min-width: 33px;
    max-width: 33px;
}

.svg-box:hover {
    background-color: var(--medium-black);
    cursor: pointer;
}
.suggested-title{
    position: relative;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
}
.suggested-title:focus {
    background-color: var(--harsh-gray);
    color: var(--light-black);
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 450;
}