    .paragraph-unit {
        cursor: default;
        display: flex;
        border-radius: 10px;
        width: 100%;
        align-items:center;
    }
    .paragraph-arrow{
        margin-left: 8px;
        cursor: pointer;
    }
    .paragraph-arrows {
        height:45px;
        width:30px;
        min-width:30px;
        visibility: hidden;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .arrow-up {
        align-items: flex-end;
    }
    .arrow-down{
        align-items: flex-start;
    }
    .eight-px-vertical-space{
        height:8px;
        width:100%;
        min-width:100%;
        min-height:8px;
    }
    .paragraph-arrow-container{
        display:flex;
        width: 100%;
        height: 100%;
    }
    .paragraph-unit p {
        padding: 0 10px;
        border-radius: 5px;
    }

    .paragraph-text:focus {
        outline: none;
        background-color:var(--white-text);
        border-radius:3px;
    }
    .arrow-vertical-spacing-div{
        width:100%;
        height:12px;
    }

    .paragraph-text {
        border-radius: 3px;
        display:inline-block;
        cursor: text;
        padding:10px;
        white-space: pre-wrap;
        min-height:38px;
        height:fit-content;
        flex-wrap:wrap;
        width:calc(100% - 30px);
        max-width:calc(100% - 30px);
        overflow-wrap: break-word;
        hyphens: auto;
        word-break: break-word;
    }
    .paragraph-text:empty {
        height: 45px;
    }