flows-page{
    display: flex;
}
.flows-page{
    overflow: auto;
}
.table-header-flows {
    padding-left: 20px;
    display: flex;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.button-margin{
    margin-right: 10px;
}
#export-svg{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.add-icon {
    margin-right: 5px;
    margin-bottom: 1px;
}
.table-name{
    width: 31.5%;
    margin-bottom: 10px;
}
.table-description{
    margin-bottom: 10px;
}
.buttons-section {
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.no-data-loaded{
    padding-left: 15px;
}
.filters-container{
    position: relative;
}
.filters{
    display: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--medium-blue);
    position: absolute;
    top:0;
    left: 95px;
    flex-direction: column;
}
.filter{
    display: flex;
    padding: 0 10px 0 10px;
    width: 150px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: var(--white-text);
}
.filter label{
    cursor: pointer;
}
