.application-unit{
        display:flex;
        flex-direction:column;
    justify-content: center;
    align-items:center;
    gap:10px;
}
.application-image-container{
    cursor: pointer;
    background-color:var(--left-sidebar);
    display:flex;
    align-items:center;
    justify-content: center;
    height:80px;
    width:80px;
    padding:5px;
    border:1px solid var(--left-sidebar);
    border-radius:50%;
}
.application-image-container:hover{
    border:1px solid var(--white-text);
}
.installed{
    border: none;
    border-radius: 10px;
    background-color: var(--medium-blue);
    color: white;
    padding: 10px;
}