edit-flow-modal{
    display:flex;
    flex-direction:column;
    height:500px;
    width:700px;
}
dialog{
    height:500px;
    width:700px;
}
.title{
    font-size: 18px;
    font-weight: 400;
}
.modal-body{
    min-height: 72%;
}
.actions{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px
}
.marketplace{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 20px;
}
.modal-footer{
    background-color: var(--modal-background);
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
.form-label{
    display: none;
}
textarea#flowCode {
    resize: none;
    height:100%;
    white-space: pre-wrap;
}
.right-margin{
    margin-right: 10px;
}