<div class="variables-table-container">
    <div class="table-labels $$emptyTableClass">
        $$variablesHeader
        <div class="cell table-label table-actions">
            <div class="action-button-container pointer" data-local-action="openAddVariableModal">
                <img src="./wallet/assets/icons/plus.svg" alt="add">
            </div>
            <div class="close-container">
                <img class="pointer" data-local-action="closePlugin" src="./wallet/assets/icons/x-mark.svg" alt="add">
            </div>
        </div>
    </div>
    <div class="variables-table">
        $$variablesHTML
    </div>
</div>