<div class="variables-table-container">
    <div class="table-labels">
        <div class="cell table-label">Name</div>
        <div class="cell table-label">Expression</div>
        <div class="cell table-label">Value</div>
        <div class="cell table-label">Status</div>
        <div class="cell table-label table-actions">
            <div class="action-button-container pointer right-margin" data-local-action="openAddVariableModal">
                <img src="./wallet/assets/icons/plus.svg" alt="add">
            </div>
            <div class="close" data-local-action="closePlugin">&times;</div>
        </div>
    </div>
    <div class="variables-table">
        $$variablesHTML
    </div>
</div>