<div class="plugin-header">
    <div class="header-left-section">
        <div class="plugin-title">Edit Variables</div>
        <button class="gray-button" data-local-action="openAddVariableModal">+ Add Variable</button>
    </div>
    <div class="close" data-local-action="closePlugin">
        <span aria-hidden="true">&times;</span>
    </div>
</div>
<div class="table-labels">
    <div class="cell table-label">Name</div>
    <div class="cell table-label">Expression</div>
    <div class="cell table-label"></div>
</div>
<div class="variables-table-container">
    <div class="variables-table">
        $$variablesHTML
    </div>
</div>