action-box-with-clone{
    position:relative;
}
.action-box-with-clone{
    margin-top: 0;
    margin-left: -60px;
    background-color: white;
    line-height: normal;
    border-radius: 6px;
    border: 1px solid #dedede;
    position: absolute;
    z-index:9999;
}

.action {
    background: #FEFAFF;
    padding: 4px 8px;
    cursor: pointer;
}

.act1:hover {
    border-radius: 6px 6px 0 0;
}

.act2:hover {
    border-radius: 0 0 6px 6px;
}

.action:hover {
    background-color: #A42E70;
    color: white;
}