
agents-page{
    display: flex;
    height: 91%;
}
.chat-container{
    width: 100%;
}
.chat-log{
    height: 90%;
    position: relative;
}
.chat-log::before {
    content: "";
    background-image: url('chatbots-background.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
}
.chat-log::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(157, 1, 157, 0.5);
}
.conversation{
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
.chat-input-container{
    height: 10%;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#input{
    padding-top: 10px;
    resize: none;
    width: 93%;
    border-radius: 24px;
    border: none;
    background: #F5E6EF;
    height: 60px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
}
#input:focus{
    outline: none;
}
.send-message-btn{
    cursor: pointer;
    background: none;
    border: none;
}
.conversation{
    padding:15px;
}

.right-sidebar{
    padding: 20px;
}


.emotion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fade-out{
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}
@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.fade-in{
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.emotion-name{
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}
.emotion-emoticon{
    font-size: 90px;
}


.chat-box-container{
    position: relative;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.user:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -22px;
    height: 27px;
    width: 24px;
    border-bottom-right-radius: 68%;
    box-shadow: 11px 0 0 0 var(--white-text);
}
.chat-box{
    padding: 5px 5px 5px 12px;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    font-weight: 400;
    font-size: 16px;
}
.user-box{
    border-radius: 16px 16px 16px 0;
    background: var(--white-text);
}

.robot:after{
    position: absolute;
    content: "";
    bottom: 0;
    right: -22px;
    height: 27px;
    width: 24px;
    border-bottom-left-radius: 68%;
    box-shadow: -11px 0 0 0 var(--robot-shadow);
}

.robot-box{
    border-radius: 16px 16px 0 16px;
    background: var(--robot-shadow);
}