/* QR code container for TOTP setup */
.qrcode_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    left: -1em;
}
.form-header{
    font-size: 16px;
    font-weight: 600;
}
.form-container{
    padding-left: 25px;
}
.qrcode_container .qrcode {
    margin: 10px auto 10px;
    padding: 10px;
    background-color: white;
}
.left-align{
    width: 100%;
    display: flex;
}
.secret_key {
    font-size: 14px;
    word-break: break-all;
    border-radius: 8px;
    max-width: 100%;
    overflow-wrap: break-word;
    width: 100%;
    margin-bottom: 10px;
}

.verification_section .input_container {
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -1em;
}

.totp_verify_button {
    color: var(--app-theme-color);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.auth-button {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    background: var(--strong-blue);
    padding: var(--button-padding);
    cursor: pointer;
    border-radius: 5px;
}