<div class="image-container">
    <div class="controls-mask">
        <div class="close-player" >
            <img class="pointer" data-local-action="closePlayer" src="./wallet/assets/icons/x-mark.svg" alt="close">
        </div>
        <div class="controls-section">
            <img class="previous pointer" data-local-action="skipToPreviousScene" src="./wallet/assets/icons/previous.svg" alt="previous">
            <div class="play-pause" data-local-action="playPause" data-mode="play">
                <img class="pointer" src="./wallet/assets/icons/pause.svg" alt="pause">
            </div>
            <img class="next pointer" data-local-action="skipToNextScene" src="./wallet/assets/icons/next.svg" alt="next">
        </div>
        <img class="fullscreen-icon pointer" data-local-action="switchDisplayMode" data-mode="minimized" src="./wallet/assets/icons/fullscreen.svg" alt="fullscreen">
        <div class="bottom-info">
            <div class="right-margin">
                Chapter <span class="chapter-number"></span>
            </div>
            <div class="big-right-margin">
                Paragraph <span class="paragraph-number"></span>
            </div>
            <div class="time-section">
                <div class="current-time">0:00</div>
                <span class="time-separator">/</span>
                <div class="video-duration">$$durationHTML</div>
            </div>
        </div>
    </div>
    <video class="video-player hidden"></video>
    <img class="current-image" src="" alt="current-image">
</div>
<audio class="audio-player"></audio>
<audio class="chapter-background-sound"></audio>