<div class="image-container">
    <div class="controls-mask">
        <div class="close-player pointer" data-local-action="closePlayer">
            <img src="./wallet/assets/icons/x-mark.svg" alt="close">
        </div>
        <img class="float-video pointer" data-local-action="floatVideo" src="./wallet/assets/icons/scroll-down.svg" alt="close">
        <div class="controls-section">
            <img class="previous pointer" data-local-action="skipToPreviousScene" src="./wallet/assets/icons/previous.svg" alt="previous">
            <div class="play-pause" data-local-action="playPause" data-mode="play">
                <img class="pointer" src="./wallet/assets/icons/pause.svg" alt="pause">
            </div>
            <img class="next pointer" data-local-action="skipToNextScene" src="./wallet/assets/icons/next.svg" alt="next">
        </div>
    </div>
    <img class="current-image" src="" alt="current-image">
</div>
<audio class="audio-player hidden" controls>
</audio>