<link rel="stylesheet" href="./wallet/components/suggest-title-modal/suggest-title-modal.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Suggested Titles
                <button type="button" class="close" data-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="alternative-titles">
                    <div>
                        <label for="title1">Title 1</label>
                        <input type="checkbox" id="title1" name="suggested-title" value="Title 1" />
                    </div>
                    <div>
                        <label for="title2">Title 2</label>
                        <input type="checkbox" id="title2" name="suggested-title" value="Title 2" />
                    </div>
                    <div>
                        <label for="title3">Title 3</label>
                        <input type="checkbox" id="title3" name="suggested-title" value="Title 3" />
                    </div>
                    <div>
                        <label for="title4">Title 4</label>
                        <input type="checkbox" id="title4" name="suggested-title" value="Title 4" />
                    </div>
                    <div>
                        <label for="title5">Title 5</label>
                        <input type="checkbox" id="title5" name="suggested-title" value="Title 5" />
                    </div>
                    <div>
                        <label for="title6">Title 6</label>
                        <input type="checkbox" id="title6" name="suggested-title" value="Title 6" />
                    </div>
                    <div>
                        <label for="title7">Title 7</label>
                        <input type="checkbox" id="title7" name="suggested-title" value="Title 7" />
                    </div>
                    <div>
                        <label for="title8">Title 8</label>
                        <input type="checkbox" id="title8" name="suggested-title" value="Title 8" />
                    </div>
                    <div>
                        <label for="title9">Title 9</label>
                        <input type="checkbox" id="title9" name="suggested-title" value="Title 9" />
                    </div>
                    <div>
                        <label for="title10">Title 10</label>
                        <input type="checkbox" id="title10" name="suggested-title" value="Title 10" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="wide-btn" data-action="addSelectedTitles"> Done </button>
                </div>
            </form>
        </div>
    </div>
</div>