dialog{
    padding: 0;
    border: none;
}

.modal-body {
    width: 450px;
}
.form-item-selected{
    border: 1px solid #3F88C530;
}
.modal-footer{
    margin-bottom: 8px;
}
.checkbox-label {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Makes the label appear as a circle */
    border: 2px solid black;
}
.checkbox-label-selected {
    border: 2px solid var(--left-sidebar);
}

.checkbox-inner-circle {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--left-sidebar);
    border-radius: 50%;
    opacity: 0; /* Makes the inner circle invisible by default */
}
.checkbox-inner-circle-selected{
    opacity: 1;
}

.checkbox{
    display:none;
}
.personalities-container{
    height: 400px;
    overflow-y: auto;
}