tasks-page{
    display: flex;
    height: 100%;
}
.tasks-page{
    width: calc(100% - 270px);
}
.total-tasks{
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.table-header {
    padding-left: 20px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.table-name{
    width: 31.5%;
    margin-bottom: 10px;
}
.table-description{
    margin-bottom: 10px;
}

.task{
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid var(--very-light-gray);
    color: var(--medium-gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
