chat-page {
    display: flex;
    width: 100%;
    height: 100%;
    transition: width 0.3s;
    min-width: 0;
}

#preview-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

#preview-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

.with-sidebar {
    display: flex;
    gap: 10px;
    width: calc(100% - 150px);
    height: 100%;
    padding-block: 10px;
}

.full-width {
    display: flex;
    gap: 10px;
    width: 100%;
    padding-block: 10px;
    height: 100%;
}

.assistant-header__button {
    display:flex;
    height:30px;
    width: 30px;
    background: none;
    position: relative;
    border: none;
    float: right;
    cursor: pointer;
}
.hidden {
    display: none !important;
}

.assistant-header-navigation {
    background:white;
    display: flex;
    flex-direction:column;
    position: absolute;
    right: 20px;
    top: 30px;
    gap: 10px;
    z-index:100;
}

#preview-content-left, #preview-content-right {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.assistant-header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.middle-content {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.01) url("../../../../../wallet/assets/images/chat-background.png") repeat;
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
}

.middle-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F3F3F3;
    z-index: -2;
}

#preview-content-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    max-width: 150px;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.menu-icon-img {
    display: flex;
    width: 28px;
    height: 28px;
}

#preview-content {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#preview-page-page-content {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.preview-sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
    padding-inline: 10px;
    width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
}

.menu-item-name {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}


.arrow {
    cursor: pointer;
    font-weight: 600;
}

.chat-container {
    width: 100%;
    height: 88%;
}

.chat-log {
    position: relative;
}

.chat-background {
    z-index: -1;
    opacity: 0.05;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}


.chat-input-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: sticky;
    padding: 5px;
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.agent-on {
    background-color: #3478C6;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.agent-off {
    background-color: #5a6268;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#chat:hover::after,
#llm:hover::after {
    visibility: visible;
    opacity: 1;
}

#chat::after {
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


#llm::after {
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    position: absolute;
    top: 25px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#options-menu {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    border-radius: 6px;
    min-height: 60px;
    height: fit-content;
    gap: 10px;
    max-height: 500px;
    justify-content: space-between;
    width: 100%;
}

.assistant-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.assistant-header__item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    color: black;
    font-weight: 600;
}

#input {
    display: flex;
    position: sticky;
    align-items: center;
    min-height: 60px;
    max-height: 500px;
    padding: 20px;
    resize: none;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    outline: none;
}

#input:focus {
    outline: none;
}

.attach-file {
    cursor: pointer;
}

.conversation {
    display: flex;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    gap: 8px;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.conversation > :last-child {
    margin-block-end: 20px;
}

.chat-box-container {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    align-items: stretch;
}


.input__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    border: none;
    border-radius: 50%;
    background: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.input__button:hover {
    background-color: #2d6bb1;
}

.input__button:active {
    transform: scale(0.95);
}

.input__button svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.chat-box-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.chat-box {
    position: relative;
    padding: 5px 5px 5px 12px;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    font-weight: 400;
    font-size: 16px;
}


.user-box {
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 16px 16px 16px 16px;
    color: black;
    background: white;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
}

.robot {
    display: flex;
    justify-items: flex-end;
    flex-direction: row-reverse;
}

.robot-box {
    min-width: 60px;
    width: auto;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 16px 16px 16px 16px;
    background: #E1ECF4;
    color: black;
    margin-inline-start: 58px;
}

.page-logo-section {
    display: flex;
}


.arrow-space {
    padding: 0 5px;
    border-radius: 5px;
}

.arrow-space:hover {
    background: black;
}


.settings-list-container {
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0px;
    flex-direction: column;
    background-color: white;
}

.settings-list-container > div {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #0C5C9E;
}

.settings-list-container > div:hover {
    background-color: #A5D0F430;
}
