
action-box{
    position: sticky;
    margin-left: -10px;
    margin-top: 40px;

}
.action-box {
    margin-top: 0;
    margin-left: -60px;
    background-color:  var(--white-text);
    border-radius: 6px;
    border: 1px solid var(--action-box-border);
}
.action {
    background: var(--action-box-background);
    padding: 4px 8px;
    cursor: pointer;
}
.action:hover {
    background-color: var(--medium-blue);
    color: var(--white-text);
}
.act1:hover {
    border-radius: 6px 6px 0 0;
}

.act2:hover {
    border-radius: 0 0 6px 6px;
}