<link rel="stylesheet" href="./components/newsletter-item-renderer/newsletter-item-renderer.css">
<div class="newsletter-item-renderer">
    <div class="cell">$$data-name</div>
    <div class="cell">$$data-description</div>
    <div class="cell">$$data-subject</div>
    <div class="cell">$$data-status</div>
    <div class="action-cell" data-action="showActionBox $$data-primary-key">
        <img src="assets/icons/action-icon.png" class="action-icon" alt="Action">
        <div class="action-box" id="$$data-primary-key">
            <div class="action act1">
                Edit
            </div>
            <div class="action act2">
                Delete
            </div>
        </div>
    </div>
</div>

