dialog{
    width: 90%;
}
add-flow-modal{
    overflow-y: scroll;
}
.script-content {
    height: 400px;
}
textarea{
    resize: none;
}
textarea#code {
    min-height: 250px;
    height: 430px;
}

.item-has-focus {
    --full-highlight-height: none;
    --inset-highlight-height: none;
}
.modal-footer{
    display: flex;
    justify-content: space-around;
}
