/* Stiluri CSS */
dialog {
    width: 90%;
    max-width: 800px;
    min-width: 800px;
    height:935px;
}

.add-flow-modal {
    overflow-y: scroll;
}

.script-content {
    height: 400px;
}

textarea {
    resize: none;
    box-sizing: border-box;
    font-family: monospace;
}

textarea#code-start, textarea#code-end {
    width: 100%;
}
textarea#code-start{
    height:50px;
}
textarea#code-end{
    height:80px;
}
textarea#code{
    width: 100%;
    height: 400px; /* Înălțime mărită pentru textarea din mijloc */
}

.item-has-focus {
    --full-highlight-height: none;
    --inset-highlight-height: none;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

#input-parameters-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#parameters-container {
    margin-bottom: 20px;
}

.parameter-div {
    display: grid;
    grid-template-columns: 2fr 1fr auto 40px;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.parameter-div .form-item {
    display: flex;
    align-items: center;
}

.parameter-div .form-label {
    margin-right: 10px;
    white-space: nowrap;
}

.add-collab {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.add-collab svg {
    fill: var(--blue-button);
}

.add-collab .collab-title {
    font-size: 14px;
    color: var(--blue-button);
}

.delete-parameter {
    cursor: pointer;
    color: red;
    font-size: 18px;
    text-align: center;
}
