<link rel="stylesheet" href="./wallet/web-components/components/item-list/chapter-editor-unit/chapter-editor-unit.css">
<div class="chapter-unit" tabindex="0" data-chapter-id="$$data-chapter-id" id="highlighted-chapter">
    <div class="chapter-text">
        <div class="chapter-title-section">
            <div class="chapter-title" data-local-action="editChapterTitle" contenteditable="false">
                $$data-chapter-title
            </div>
        </div>
        <div class="chapter-content">
            <div class="chapter-paragraphs" contenteditable="false">$$chapterContent</div>
        </div>
    </div>
</div>