agent-description{
    width: 100%;
}
#name{
    max-width: 600px;
}

.agent-photo{
    border-radius: 8px;
    object-fit: cover;
    height: 127px;
    width: 127px;
    margin-top: 1px;
}
#photo{
    position: absolute;
    opacity: 0;
}
textarea#description{
    resize: none;
    height: 150px;
}