<link rel="stylesheet" href="./wallet/components/modals/add-idea-modal/add-idea-modal.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-idea">
                Suggested Ideas
                <button type="button" class="close" data-local-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="suggested-ideas">
                    <div>
                        <label for="idea1">Idea 1</label>
                        <input type="checkbox" id="idea1" name="suggested-idea" value="Idea 1" />
                    </div>
                    <div>
                        <label for="idea2">Idea 2</label>
                        <input type="checkbox" id="idea2" name="suggested-idea" value="Idea 2" />
                    </div>
                    <div>
                        <label for="idea3">Idea 3</label>
                        <input type="checkbox" id="idea3" name="suggested-idea" value="Idea 3" />
                    </div>
                    <div>
                        <label for="idea4">Idea 4</label>
                        <input type="checkbox" id="idea4" name="suggested-idea" value="Idea 4" />
                    </div>
                    <div>
                        <label for="idea5">Idea 5</label>
                        <input type="checkbox" id="idea5" name="suggested-idea" value="Idea 5" />
                    </div>
                    <div>
                        <label for="idea6">Idea 6</label>
                        <input type="checkbox" id="idea6" name="suggested-idea" value="Idea 6" />
                    </div>
                    <div>
                        <label for="idea7">Idea 7</label>
                        <input type="checkbox" id="idea7" name="suggested-idea" value="Idea 7" />
                    </div>
                    <div>
                        <label for="idea8">Idea 8</label>
                        <input type="checkbox" id="idea8" name="suggested-idea" value="Idea 8" />
                    </div>
                    <div>
                        <label for="idea9">Idea 9</label>
                        <input type="checkbox" id="idea9" name="suggested-idea" value="Idea 9" />
                    </div>
                    <div>
                        <label for="idea10">Idea 10</label>
                        <input type="checkbox" id="idea10" name="suggested-idea" value="Idea 10" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="wide-btn" data-local-action="addSelectedIdeas"> Done </button>
                </div>
            </form>
        </div>
    </div>
</div>