edit-personality-page{
    overflow-y: auto;
}
.personality-name{
    margin-left: 10px;
    font-weight: 700;
    font-size: 28px;
}
.page-body{
    display: flex;
    width: 100%;
    margin-left: 15px;
    margin-top: 15px;
}

.item-has-focus {
    --full-highlight-height: none;
    --inset-highlight-height: none;
}
.modal-footer{
    padding-bottom: 10px;
}
.delete-personality{
    margin-left: 8px;
    margin-right: 40px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: var(--red) !important;
}
.delete-personality:hover{
    cursor: pointer;
}
.cancel-btn{
    background:var(--white-text);
    color: var(--medium-blue);
    box-shadow: inset 0 0 0 2px var(--medium-blue);
}
.pointer{
    cursor: pointer;
}
.form-footer{
    display: flex;
    align-items: center;
}
.right-margin{
    margin-right: 8px;
}
.form-item{
    display: flex;
    flex-direction: column;
}
.input-container{
    display: flex;
    align-items: center;
}

.wide{
    width: 220px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-header{
    padding: 15px;
    cursor: pointer;
}
.tab-header:hover{
    background-color: var(--very-light-gray);
}
.personality-tabs{
    display: flex;
}
.current-tab{
    width: 100%;
}
.left-header-section{
    display: flex;
    align-items: center;
    margin: 15px;
}
.right-header-section{
    display: flex;
    align-items: center;
}
.selected{
    background-color: var(--very-light-gray);
}
.separator{
    width: 100%;
    height: 1px;
    background-color: var(--very-light-gray);
}