.generated-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.img-container{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.progress-bar-container{
    background-color: rgba(92, 89, 89, 0.33);
}
.queued-placeholder{
    background-color: rgba(92, 89, 89, 0.33);
    width: 300px;
    height: 300px;
    font-size: xxx-large;
    color: var(--white);
}
.flex{
    display: flex;
}
.image-item{
    position: relative;
    width: fit-content;
}
.image-menu{
    position: absolute;
    background-color: #200C0C54;
    top: 11px;
    left: 10px;
    visibility: hidden;
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.image-checkbox{
    visibility: hidden;
    position: absolute;
    bottom: 17px;
    left: 10px;
}
.buttons-section{
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
}
.buttons-section > button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.midjourney-button{
    background-color: var(--white);
    border: 1px solid var(--left-sidebar);
    color: var(--left-sidebar);
}

.loading-mask {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m:
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.progress-bar{
    width: 100%;
    height: 10px;
    background-color: var(--very-light-gray);
    border: 1px solid var(--black);
    margin-top: 50px;
}
.progress-fill{
    height: 100%;
    background-color: var(--left-sidebar);
    width: 0;
    transition: width 0.5s;
}