@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html {
    --default-font: Poppins;
    font-family: var(--default-font);
}

html, body,
.app-container {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    text-size-adjust: none;
}

.header-title {
    font-weight: 700;
    font-size: 24px;
    display: block;
}

.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page-content {
    padding-left: 15px;
}

#app-content {
    width: 100%;
    max-height: 100%;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
}

#page-content {
    width: 85%;
    max-height: 100%;
    display: inline-block;
    overflow: scroll;
    z-index: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    height: 30px;
}

/*inceput sidebar dreapta*/
.right-sidebar {
    height: 100%;
    width: 12em;
    display: flex;
    right: 0;
    min-width: 12em;
}

.sidebar-item {
    color: #090131;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    cursor: default;
    padding-left: 19px;
    margin-right: 10px;
}

.sidebar-item svg {
    margin-left: -14px;
    width: 9px;
    cursor: default;
    /*transform: rotate(-90deg);*/
    visibility: hidden;
}

.sidebar-item:hover {
    border-radius: 5px;
    background: rgba(175, 168, 186, 0.22);
}

.sidebar-item:hover svg {
    visibility: visible;
}

.sidebar-submenu {
    color: rgba(9, 1, 49, 0.83);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px;
    margin-left: 20px;
    cursor: default;
    margin-right: 10px;
    display: none;
}

.submenu-item {
    padding: 8px;
}

.submenu-item:hover {
    border-radius: 5px;
    background: rgba(175, 168, 186, 0.22);
}

.item-list {
    height: 100%;
    padding-left: 10px;
    width: 12em;
    position: fixed;
    border-left: 1px solid #D9D4EE;
    box-shadow: -3px 0 4px -3px rgba(9, 1, 49, 0.09);
    padding-top: 10px;
}/*terminare sidebar dreapta*/

.inner-page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding-right: 10px;
}

#app-content {
    height: 100%;
}

.tools-list {
    padding: 0 30px 0 14px;
}

.spinner {
    outline: none;
    background: none;
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0,174,239,.15);
    border-right: 6px solid rgba(0,174,239,.15);
    border-bottom: 6px solid rgba(0,174,239,.15);
    border-top: 6px solid rgba(0,174,239,.8);
    border-radius: 100%;
}

/*spinner style*/
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.page-logo-section {
    padding: 0;
    margin: 0;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.page-name {
    margin-left: 10px;
    color: #090131;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tool-item:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}

.add-button-section {
    padding: 20px 0 15px 0;
}

.page-logo-section > img {
    margin-right: 20px;
    max-height: 100%;
}

.tool-item {
    display: flex;
    padding: 8px 53px 8px 10px;
    margin-top: 15px;
    max-height: 100%;
}

.tool-item:hover,
#selected-page {
    border-radius: 5px;
    background: rgba(175, 168, 186, 0.22);
}

#app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 69px;
    background-color: #090131;;
}

.tools-title {
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    text-align: left;
}

.title-wrapper {
    color: #372B2B;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

.title-wrapper {
    color: rgba(55, 43, 43, 1);
    font-weight: 500;
    font-size: 14px;
}

.title-wrapper,
.tool-name {
    color: rgba(55, 43, 43, 1);
    font-weight: 500;
    font-size: 14px;
}

.title-wrapper {
    margin-top: 13px;
    margin-bottom: 13px;
    font-weight: 500;
}

#tools-sidebar {
    height: 100%;
    min-width: fit-content;
    width: 15%;
    border-right: 1px solid #D9D4EE;
    box-shadow: 0 1px 4px 0 rgba(9, 1, 49, 0.09);
}

.add-button {
    min-width: fit-content;
    color: #0618D1;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    display: flex;
}

.organization-dropbox {
    font-weight:600;
    margin-right: 20px;
    max-width: fit-content;
    color: #FFFFFF;
    font-family: Poppins;
}

.organization-dropbox select {
    background-color: #090131;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: none;
    border: none;
    appearance: none;
    background-image: url("./assets/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.6em;
}

#organization * {
    border-radius: 15px;
}

.add-button svg {
    margin-right: 9px;
}

.rotate {
    transform: rotate(-90deg);
}