@import "font-style.css";
@import "dark-theme.css";

:root {
    --black: black;
    --user-text: black;
    --robot-text: black;
    --white: white;
    --white-text: white;
    --light-gray-text: #616161;
    --dark-text: #444444;
    --darker-text: #1D1D1D;
    --red: red;
    --light-red: #CF9A9A;
    --chat-background: #F3F3F3;
    --light-highlight: #E4E6F0;
    --commands-background: #C1D8EC;
    --form-border: #0000006E;
    --lighter-black: #0000003d;
    --chatbots-shadow: #00000047;
    --abstract-content-focus: #0000001C;
    --prompt-shadow: #00000057;
    --path-button: #121212;
    --chapter-title: #1E1E1E;
    --prompt-text: #222222;
    --light-black: #252525;
    --gray-black: #3A3A3A;
    --medium-gray: #505050;
    --medium-black: #55555514;
    --brown-gray: #555555;
    --settings-page-theme: #6b6b6b;
    --form-input: #8B8B8B;
    --very-light-gray: #c2c2c299;
    --action-box-border: #dedede;
    --error-modal-border: #E5E5E5;
    --gray-border: #E6E6E6;
    --light-brown-gray: #504f4f;
    --light-brown: #372B2B;
    --lighter-brown: #6B574E;
    --spinner-l-r-b: #00aeef26;
    --green: green;
    --light-green: #9ACFBD;
    --medium-green: #097C55;
    --spinner-t: #00aeefcc;
    --blue: blue;
    --light-blue: #E1ECF4;
    --medium-blue: #0C5C9E;
    --chatbots-history-blue: #98BFE0;
    --strong-blue: #007bff;
    --documents-page-header: #363C44;
    --harsh-gray: #94aee34d;
    --input-file-selector: #2B64E1;
    --blue-black: #18203F;
    --suggest: #0618D1;
    --blue-border: #C3DEF4;
    --bright-blue: #2D9FFF;
    --semi-bold-text: #3C3C3D;
    --right-sidebar-border: #E4E6F0;
    --feature-hover: #afa8ba38;
    --action-box-background: #FEFAFF;
    --left-sidebar: #3F88C5;
    --blue-button: #3478C6;
    --left-sidebar-background: #2C2C2C;
    --black-pin: #2C2C2C;
    --left-sidebar-icons: #7B7B7B;
    --chat-input-container: white;
    --white-blue-tint: #EAF3FE;
    --chat-header-background: #EFEFEF99;
    --chat-header-border: #E5E5E599;
    --selected-chat: #ECEEF5;
    --modal-background: #f9f9f9;
    --selected-chat-outline: #0000000D;
    --tab: #ECECEC;
    --action-box-text: #114C59;
    --document-font-color: #000000;
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


html {
    --default-font: Poppins;
    font-weight: 400;
    font-family: var(--default-font);
}

input, textarea {
    font-family: var(--default-font);
    font-weight: 400;
}

html, body,
.app-container {
    height: 100%;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    text-size-adjust: none;
}

.input-invalid {
    border: 1px solid var(--red) !important;
    border-radius: 8px !important;
}

/*modals*/
dialog {
    padding: 0 !important;
    outline: none !important;
}

dialog.modal {
    box-shadow: 0px 1px 7.3px 0px #00000040;
}

dialog {
    border-radius: 5px;
}

.modal-header {
    align-items: center;
    padding: 5px 20px;
    background: var(--error-modal-border);
    display: flex;
    color: var(--light-gray-text);
    justify-content: space-between;
}

.close {
    padding: 0;
    color: var(--light-gray-text);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.modal-title {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-body {
    background-color: var(--modal-background);
    padding: 20px;
}

.modal-footer {
    display: flex;
    height: 20%;
    justify-content: center;
    bottom: 10px;
    align-items: center;
}

.modal-footer > button {
    padding: 6px 30px;
    justify-content: center;
}

.modal {
    border: none;
}

/*forms*/
.form-label {
    color: var(--gray-black);
    font-size: 12px;
    font-weight: 600;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-input {
    border-radius: 5px;
    border: 0.5px solid var(--lighter-black);
    width: 100%;
    margin: 4px 0 8px;
    padding: 8px;
}


.header-title {
    display: block;
    font-weight: 700;
    font-size: 24px;
}

.documents-page {
    height: 100%;
    width: 100%;
}

#page-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: calc(100% - 270px);
    overflow: scroll;
    z-index: 0;
    background: var(--white);
}

#app-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden !important;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    height: 30px;
}

.sidebar-item-main {
    color: var(--semi-bold-text);
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid var(--gray-border);
}

.pointer {
    cursor: pointer;
}


.spinner-default-style {
    outline: none;
    background: none;
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid var(--spinner-l-r-b);
    border-right: 6px solid var(--spinner-l-r-b);
    border-bottom: 6px solid var(--spinner-l-r-b);
    border-top: 6px solid var(--spinner-t);
    border-radius: 100%;
}

/*spinner style*/
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.page-logo {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.page-name {
    margin-left: 14px;
    color: var(--white-text);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.general-button {
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    background: var(--blue-button);
    width: fit-content;
    height: 36px;
    padding: 6px 11px 6px 11px;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.cancel-button{
    background: var(--white-text);
    color: var(--medium-blue);
    box-shadow: inset 0 0 0 2px var(--medium-blue);
}
.app-logo {
    margin-left: 8px;
}

.rotate {
    transform: rotate(-90deg);
}

.page-static-title {
    margin-left: 33px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 0;
    white-space: nowrap;
    cursor: pointer;
    font-style: normal;
    color: var(--left-sidebar);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.sidebar-item:hover {
    border-radius: 5px;
    background: var(--feature-hover);
}

.sidebar-name-container, .item-list-container {
    border: 1px solid var(--gray-border);
    padding: 20px;
}

.item-list-container {
    padding-top: 0;
    padding-bottom: 0;
}

.remove-border {
    border: none;
}

.item-list {
    background-color: var(--white-text);
    height: 100%;
    width: 100%;
}

.sidebar-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: var(--medium-blue);
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.disabled {
    background-color: var(--blue-border);
    pointer-events: none;
}

/*page placeholder*/
#page-placeholder {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}
.unfocusable{
    outline: none;
}

.unfocusable:focus {
    outline: none;
}
.left-sidebar-placeholder {
    min-width: 270px;
    width: 14%;
    background: var(--very-light-gray);
    height: 100%;
    padding: 20px;
}

.logo-placeholder {
    background: var(--white-text);
    height: 20px;
    width: 70px;
    border-radius: 5px;
}

.menu-placeholder {
    height: 50%;
}

.item-placeholder {
    border-radius: 5px;
    height: 20px;
    margin: 35px 0 15px 0;
    background: var(--white-text);
}

.content-placeholder {
    width: calc(100% - 270px);
}

.header-placeholder {
    padding: 20px;
    height: 70px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--very-light-gray);
}

.main-content-placeholder {
    height: calc(100% - 70px);
    padding: 20px;
}

.line-placeholder {
    width: 25%;
    border-radius: 5px;
    background: var(--very-light-gray);
    height: 20px;
    margin-bottom: 20px;
}

.short {
    width: 50%;
}

.long {
    width: 80%;
}

.right-sidebar-placeholder {
    border-left: 1px solid var(--very-light-gray);
    min-width: 270px;
    width: 14%;
    height: 100%;
}

/* TODO move to index.css(global application css) of AiAuthor after a proper solution is implemented */

/* AiAuthor */
.secondary-path-button {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--medium-blue);
}

.main-path-button {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--left-sidebar);
}

.document-path {
    padding: 20px !important;
}

.breadcrumbs-path-svg {
    min-width: 7px;
    min-height: 12px;
}

.user-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.loading-icon {
    width: 35px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

.loading-icon.small {
    width: 20px;
    padding: 5px;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

.error-message {
    display: block;
    color: #f8d7da;
    background-color: darkred;
    border: 1px solid #f5c6cb;
    border-radius: 2px;
    padding: 2px 8px;
    font-family: Consolas, "Courier New", monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.component-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.xx-small{
    font-size:8px;
}
.x-small {
    font-size: 10px;
}
.small {
    font-size: 12px;
}
.medium {
    font-size: 14px;
}
.large {
    font-size: 16px;
}
.x-large {
    font-size: 18px;
}
.xx-large {
    font-size: 20px;
}
.xxx-large {
    font-size: 22px;
}
.xxxx-large {
    font-size: 24px;
}
.xxxxx-large {
    font-size: 28px;
}

.xxxxxx-large {
    font-size: 32px;
}

.xxxxxxx-large {
    font-size: 36px;
}
.xxxxxxxx-large {
    font-size: 48px;
}
.xxxxxxxxx-large {
    font-size: 72px;
}
.font-georgia{
    font-family: Georgia, serif;
}
.font-arial{
    font-family: Arial, sans-serif;
}
.font-times-new-roman{
    font-family: Times New Roman, serif;
}
.font-verdana{
    font-family: Verdana, sans-serif;
}
.font-courier-new{
    font-family: Courier New, monospace;
}
.font-color{
    color: var(--document-font-color);
}