@import url('https://fonts.cdnfonts.com/css/poppins');

:root{
    --form-input-error: red;
    --right-sidebar-border: #D9D4EE;
    --semi-bold-text: #3C3C3D;
    --gray-border: #E6E6E6;
    --spinner-l-r-b: rgba(0, 174, 239, .15);
    --spinner-t:rgba(0, 174, 239, .8);
    --white-text: #FFFFFF;
    --button-purple: #A42E70;
    --feature-hover: rgba(175, 168, 186, 0.22);
    --left-sidebar: #511A53;
    --action-box-border: #dedede;
    --action-box-background:#FEFAFF;

}
* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}
space-page:not(:defined) {
  display:none;
}
announcements-page:not(:defined) {
    display: none;
}
announcement-unit:not(:defined) {
    display: none;
}
html {
    --default-font: Poppins;
    font-family: var(--default-font);
}

html, body,
.app-container {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    text-size-adjust: none;
}
.input-invalid {
    border: 1px solid var(--form-input-error) !important;
    border-radius: 8px !important;
}
dialog{
    padding:0 !important;
    outline:none !important;
}
.modal{
    border:none;
}

.header-title {
    display: block;
    font-weight: 700;
    font-size: 24px;
}

.documents-page{
    height:100%;
    width:100%;
}

#page-content {
    display: inline-block;
    width: calc(100% - 270px);
    height:100%;
    min-height: 100%;
    min-width:calc(100% - 270px);
    overflow: scroll;
    z-index: 0;
}

#app-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden !important;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    height: 30px;
}

.right-sidebar{
    display:flex;
    flex-direction:column;
    position:fixed;
    right:0;
    height:100%;
    width:270px;
    min-width:270px;
    min-height:100%;
    border-left: 1px solid var(--right-sidebar-border);
}

.sidebar-item-main{
    color: var(--semi-bold-text);
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    padding:10px 15px 10px 15px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid var(--gray-border);
}
.pointer {
    cursor: pointer;
}

.features-list-wrapper {
    margin-top:20px;
    margin-left:24px;
    margin-right:24px;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.spinner {
    outline: none;
    background: none;
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid var(--spinner-l-r-b);
    border-right: 6px solid var(--spinner-l-r-b);
    border-bottom: 6px solid var(--spinner-l-r-b);
    border-top: 6px solid var(--spinner-t);
    border-radius: 100%;
}

/*spinner style*/
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.page-logo {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.page-name {
    margin-left: 14px;
    color: var(--white-text);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.general-button{
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color:var(--white-text);
    background: var(--button-purple);
    width:fit-content;
    height: 36px;
    padding: 6px 11px 6px 11px;
    border-radius: 17px;
    gap: 5px;
    cursor:pointer;
}
.feature {
    align-items: center;
    display: flex;
    padding: 8px 10px 8px 10px;
    margin-top: 15px;
    max-height: 100%;
}
.feature:hover {
    cursor: pointer;
    border-radius: 5px;
    background: var(--feature-hover);
}
#selected-page {
    background: var(--button-purple);
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.app-logo{
    margin-left:8px;
}

#app-left-sidebar {
    background-color: var(--left-sidebar);
    height: 100%;
    min-width: 270px;
    width: 14%;
}

.rotate {
    transform: rotate(-90deg);
}
.page-static-title{
    margin-left:33px;
}
.sidebar-item {
    display:flex;
    align-items:center;
    width:100%;
    padding: 10px 10px 10px 0;
    white-space: nowrap;
    cursor: pointer;
    font-style: normal;
    background-color: var(--white-text);
    color: var(--left-sidebar);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.sidebar-item:hover {
    border-radius: 5px;
    background: var(--feature-hover);
}
.sidebar-name-container,.item-list-container{
    border: 1px solid  var(--gray-border);
    padding:20px;
}
.item-list-container{
    padding-top:0;
    padding-bottom:0;
}
.remove-border{
    border:none;
}
.item-list {
    background-color: var(--white-text);
    height: 100%;
    width:100%;
}
.sidebar-name{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}
.svg-container{
    width:20px;
    height:20px;
}

