chat-item{
    width:100%;
}

.user-profile-image-container{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.chat-options{
    position:absolute;
    display:none;
    margin-block-start:10px;
    width:fit-content;
    bottom:-40px;
}

.other-message{
    justify-content: flex-start;
    left:0;
}

.myself-message{
    justify-content: flex-end;
    right:0;
}
.message {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden; /* Evită scroll-ul orizontal */
    overflow-y: auto; /* Permite scroll pe verticală dacă e nevoie */
}

.message > * { /* Aplică stiluri tuturor copiilor direcți */
    word-wrap: break-word; /* Forțează cuvintele lungi să se împartă */
    overflow-wrap: break-word; /* Asigură împărțirea corectă */
    white-space: normal; /* Permite textului să se împartă pe mai multe linii */
    min-width: 0; /* Evită forțarea extinderii containerului */
    max-width: 100%; /* Previne depășirea containerului părinte */
}


.stop-stream-button{
    display:none;
}
.chat-option-button{
    min-width:60px;
    align-items:center;
    justify-content: center;
    min-height:25px;
    height:30px;
    width:fit-content;
}