task-item{
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.task-button{
    padding: 5px;
    height: initial;
    font-size: 14px;
    line-height: normal;
}
.green{
    background-color: green;
}
.yellow{
    background-color: #ffad02;
}
.red{
    background-color: red;
    cursor: initial;
}
.grey{
    background-color: grey;
    pointer-events: none;
}
.task-name{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.task-status{
    width: 35%;
}
.task-action{

}