task-item{
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.task-button{
    padding: 5px;
    height: initial;
    font-size: 14px;
    line-height: normal;
}
.green{
    background-color: green;
}
.yellow{
    background-color: #ffad02;
}
.red{
    background-color: red;
    cursor: initial;
}
.grey{
    background-color: grey;
    pointer-events: none;
}
.task-name{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.task-status{
    width: 35%;
}
.task-action{
    position: relative;
}
.task-action-icon{
    width: 20px;
    cursor: pointer;
}
.info-pop-up{
    position: absolute;
    background-color: white;
    width: 350px;
    box-shadow: 0px 1px 7.3px 0px #00000040;
    top: 26px;
    right: -38px;
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5;
    height: 250px;
}