agents-page {
    overflow: scroll;
}

.line-separator{
    margin-top: 0;
    border: none;
    height: 2px;
    background: var(--light-gray-border);
}
.table {
    padding: var(--page-padding);
    overflow: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    background: var(--white);
}


.add-agent-vertical-line{
    width: 5px;
    background-color: var(--default-font-color);
}
.add-agent-button{
    height: 150px;
    width: 250px;
    display: flex;
    border: 1px solid var(--action-button-background);
    border-radius: 5px;
}
.agent-icon-container{
    padding: 6px;
    border: 1px solid var(--action-button-background);
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-agent-text{
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--default-font-color);
}