application-page{
    display:flex;
}
.application-page{
    width: calc(100% - 270px);
}
.space-controls{
    display: flex;
    align-items: center;
    padding: 20px 40px;
}
.table-header-flows {
    padding-left: 15px;
    display: flex;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}