html {
    height: 100%;
}

body {
    height: 100%;
}

landing-page{
    height: 100%;
    width:100%;
}
#page-content{
    overflow: initial;
}
.content-container {
    height: 100%;
    display: flex;
    width:100%;
    position: relative;
}

/*image carousel*/
.slideshow-container {
    width: 66%;
    position: relative;
}

.images {
    height: 100%;
    width: 300%;
    position: absolute;
    display: flex;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.slide {
    position: relative;
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: center;

}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--left-sidebar);
}
.img-front{
    position: absolute;
}
.woman{
    bottom: -213px;
    width: 1250px;
}
.chat{
    width: 1440px;
    bottom: -141px;
    right: -142px;
}
.laptop{
    width: 1250px;
    right: 20px;
    bottom: -210px;
}
.img-text{
    color: var(--white-text);
    position: absolute;
    text-align: center;
    width: 80%;
    top: 5%;
    font-size: 40px;
    font-weight: 600;
}
.highlighted-text{
    color: #A42E70;
}
.controls{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white-text);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--lighter-brown);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active{
    width: 27px;
    background-color: var(--white-text);
    border-radius: 5px;
}

/*login form*/
.form-container {
    width: 34%;
    position: absolute;
    right: 0;
    padding: 80px 100px 80px 100px;
    background-color: var(--white);
    height: 100%;
}
.form-footer {
    display: flex;
    justify-content: center;
}
.general-button{
    margin: 16px 0;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.log-in-form{
    margin-top: 20px;
}