add-document-modal {
    display: block;
    height: 540px;
    width: 860px;
}

.tabs {
    display: flex;
    gap: 16px;
    padding: 20px;
    justify-content: center;
}

.source-toggle {
    padding: 15px 15px 10px 15px;
    background: inherit;
    color: var(--default-font-color);
}
.radios-label{
    font-weight: 600;
    margin-bottom: 20px;
}
.radios-container{
    display: flex;
    gap: 0.75rem;
}
.file-limits{
    margin-top: 10px;
    font-size: 8px;
    color: var(--header-font-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.create-button,
.upload-button{
    width: fit-content;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 220px;
}

.file-input {
    border-radius: 5px;
    border: 1px dashed rgba(74, 74, 75, 0.90);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}
#fileUpload{
    display: none;
}
.upload-icon-container{
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--gray-button-text);
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-input-label{
    color: var(--header-font-color);
    font-size: 13px;
}

.custom-radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-selection{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #CCCCCC;
}
.custom-radio.selected .radio-selection {
    background-color: #4A4A4B;
}
.radio-item{
    display: flex;
}
.radio-margin{
    margin-right: 10px;
}
.uploaded-files{
    border-radius: 5px;
    min-height: 75px;
    border: 1px solid var(--form-input-border);
    padding: 10px;
    margin-bottom: 10px;
}
.no-files{
    color: var(--form-input);
    font-size: 14px;
    font-weight: 500;
}
.file-item{
    font-size: 12px;
    color: var(--form-input);
}