generate-chapters-page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.document-path {
    cursor: default;
    display: flex;
    align-items: baseline;
    margin: 10px 0;
}

.path-button {
    color: var(--button-purple);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.document-path svg {
    margin: 5px 10px;
}

.document-path,
.add-idea-container,
.generated-idea,
.generated-ideas-text,
.generate-chapters-btn{
    margin-left: 15px;
    margin-right: 15px;
}
.ideas-list-container{
    display: none;
}
.section-title{
    margin-bottom: 10px;
    margin-top: 20px;
    color: var(--light-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.form-item{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.form-input {
    border-radius: 8px;
    border: 0.5px solid var(--lighter-black);
    width: 400px;
    margin: 4px 0 4px;
    padding: 8px;
}
.form-label {
    color: var(--gray-black);
    font-size: 12px;
    font-weight: 600;
}
.document-content {
    width: 100%;
    display: flex;
}
#prompt{
    border-radius: 8px;
    border: 0.5px solid var(--lighter-black);
    width: 100%;
    margin: 4px 0 8px;
    padding: 8px;
    height: 200px;
    resize: none;
}
#nr{
    border-radius: 8px;
    border: 0.5px solid var(--lighter-black);
    width: 50px;
    margin: 4px 0 8px;
    padding: 8px;
}
.prompt{
    margin-left: 15px;
    margin-right: 15px;
}
.entire-content {
    width:calc(100% - 270px);
}

.generate-chapters-btn{
    margin-top: 10px;
    margin-bottom: 20px;
}
.wide-btn{
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 10px;
    border: 0.5px solid var(--pink-white);
    background: var(--button-purple);
    color: var(--white-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input[type="checkbox"] {
    background-color: var(--white-text);
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color:  var(--black);
}
.generated-idea{
    display: flex;
    justify-content: space-between;
}
.idea-container{
    display: flex;
}
.alt-title-span{
    margin-right: 5px;
}
.generate-ideas-btn{
    margin-top:10px;
    height: 35px;
    max-width: 160px;
    padding: 8px;
}
.generated-ideas-hr{
    border-style: solid;
    border-color: var(--gray-border);
}