knowledge-page{
    display: flex;
    height: 100%;
    width: 100%;
}
.search{
    width: calc(100% - 270px);
   margin-top: 20px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.form-item{
    display: flex;
    flex-direction: column;
}
.search-label{
    color: var(--gray-black);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
#search{
    border-radius: 8px;
    border: 0.5px solid var(--lighter-black);
    padding: 8px;
    width: 50%;
}
.input-container{
    display: flex;
    align-items: center;
}
.magnifier-container{
    display: flex;
}
.magnifier{
    cursor: pointer;
    margin-left: 10px;
}
.search-separator{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid  var(--gray-border);
}
.fact{
    padding: 8px 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-right: 2px solid var(--pink-white);
}