.generated-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.image-unit{
    position: relative;
    width: fit-content;
}
.image-menu{
    position: absolute;
    background-color: #200C0C54;
    top: 11px;
    left: 10px;
    visibility: hidden;
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.image-checkbox{
    visibility: hidden;
    position: absolute;
    bottom: 17px;
    left: 10px;
}
.buttons-section{
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
}
.buttons-section > button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.midjourney-button{
    background-color: var(--white);
    border: 1px solid var(--left-sidebar);
    color: var(--left-sidebar);
}