.document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--very-light-gray);
    color: var(--default-font-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 40px 20px 0;
}

.document-item{
    cursor: pointer;
}

.cell {
    width: 96%;
    padding: 8px 10px;
}

.action-cell {
    width: 100%;
    max-width: 33px;
    max-height: 12px;
    color:  var(--brown-gray);
    display: flex;
    justify-content: right;
    align-items: center;
}

.circle-button {
    padding: 7px 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.circle-button:hover {
    cursor: pointer;
    background-color: rgba(85, 85, 85, 0.08);
}
