.brainstorming-page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.document-path {
    cursor: default;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.path-button {
    color: #121212;
    font-family: Poppins;
    font-size: 14px;
    margin: 0 5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.document-title {
    margin-top: 20px;
    margin-bottom: -5px;
    color: #252525;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.document-path,
.ideas,
.document-title {
    margin-left: 15px;
}

.document-content {
    width: 100%;
    display: flex;
}

.entire-content {
    width: 100%;
}

.document-path svg {
    margin: 5px;
}

.ideas,
.brainstorming-subtitle {
    display: flex;
    margin-left: -10px;
    padding-left: 20px;
    border-bottom: 1px solid #E6E6E6;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.brainstorming-subtitle {
    display: flex;
    border-bottom: none;
    width: 100%;
    justify-content: space-between;
}

.brainstorming-modals {
    display: flex;
    justify-content: end;
}

.main-ideas {
    color: #252525;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.regenerate,
.chapters-modal {
    cursor: pointer;
    align-items: center;
    color: #0618D1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    width: max-content;
    white-space: normal;
    line-height: normal;
}

.chapters-modal {
    padding-right: 20px;
    display: none;
}

#selected-modal {
    display: flex;
}

.regenerate {
    margin-right: 9px;
    display: flex;
}

.regenerate svg,
.chapters-modal svg {
    margin-top: -5px;
    margin-right: 5px;
}

#page-content {
    padding-left: 0;
}

.abstract-content {
    text-align: justify;
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
}

.chapters-brainstorming {
    position: relative;
    margin-right: 50px;
}

.modal-buttons-section {
    display: flex;
}

.tabs-and-modals {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.brainstorming-tabs {
    display: flex;
    background-color: rgb(221, 217, 238);
    width: 100%;
    position: relative;
    padding-top: 6px;
}

.interior1 {
    background-color: rgb(255, 255, 255);
    height: 41px;
    aspect-ratio: 1 / 1;
}

.interior2 {
    background-color: rgb(221, 217, 238);
    width: inherit;
    height: inherit;
    border-top-right-radius: 60%;
}

.interior3 {
    background-color: rgb(221, 217, 238);
    height: 41px;
    aspect-ratio: 1 / 1;
}

.interior4 {
    background-color: rgb(255, 255, 255);
    width: inherit;
    height: inherit;
    border-bottom-left-radius: 60%;
}


.navbar-box {
    background: #FFF;
    position: relative;
    display: flex;
}

.navbar-box::before {
    position: absolute;
    content: '';
    height: 50%;
    align-self: center;
    bottom: 10px;
    border-right: 1px solid rgba(41, 25, 114, 0.25);
}

.navbar-box::before:first-child {
    border: none;
}

.navbar-box:first-child::before {
    border: none;
}

.navbar-item {
    background-color: rgb(221, 217, 238);
}

.tab-margin-left {
    background-color: rgb(221, 217, 238);
    height: 100%;
    width: 12px;
}

.tab-margin-right {
    background-color: rgb(221, 217, 238);
    height: 100%;
    width: 12px;
}

.tab {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    white-space: nowrap;
    color: rgba(24, 12, 80, 0.68);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar-box:hover {
    background-color: rgb(231, 229, 241);

    .tab-margin-left {
        border-bottom-right-radius: 12px;
    }

    .tab-margin-right {
        border-bottom-left-radius: 12px;
    }

    .navbar-item {
        background-color: rgb(221, 217, 238);
    }

    .tab {
        cursor: pointer;
        background-color: rgb(231, 229, 241);
        color: rgba(24, 12, 80, 0.81);
    }
}

#selected-tab {
    background-color: #FFF;
    .tab-margin-left {
        border-bottom-right-radius: 12px;
    }

    .tab-margin-right {
        border-bottom-left-radius: 12px;
    }

    .tab {
        cursor: default;
        padding: 5px 12px;
        background-color: #FFF;
        color: rgba(24, 12, 80, 0.86);
        letter-spacing: 0.54px;
    }
}