dialog[class="modal"] {
    padding: 0;
    border:none;
    height: 80%;
    width: 50%;
}

* {
    font-family: Poppins;
}
.modal-header{
    overflow: hidden;
    padding: 20px 20px 10px 20px;
}
.modal-body{
    white-space: pre-line;
    padding: 20px;
}.modal-footer{
    overflow: hidden;
    padding: 20px;
}
.modal-title{
    margin: 0;
    font-size: 18px;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
.close {
    cursor: pointer;
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}


.wide-btn {
    cursor: pointer;
    padding: 8px 52px;
    border-radius: 16px;
    margin: 16px 0;
    border: 0.5px solid #D7D7D7;
    background: #18203F;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}