<div class="add-comment-wrapper">
    <div class="add-comment-msg">Add your comment here</div>
    <div class="add-comment-container" data-action="showAddCommentModal $$data-post-id">
        <div class="add-comment-upper">
            <div class="text"> What are your thoughs? </div>
        </div>
        <div class="add-comment-lower">
            <div class="add-attachment-btn">
                <button class="attachment-btn">
                    <img class="flex-item post-button-icon" src="./assets/icons/link.svg" alt="Attach icon">
                </button>
            </div>
            <div class="button"> Comment </div>
        </div>
    </div>
</div>