
<div class="comment-container">
  <div class="comment-wrapper">
    <div class="comment-meta-info">
      <div class="comment-meta-left">
        <img class="user-icon" src="./assets/icons/outfinity-logo.svg"
             alt="User icon">
        <div class="user-info">
          <div class="username">user12</div>
          <div class="divider"></div>
          <div class="time">15h</div>
        </div>
      </div>
      <div class="comment-meta-right">
        <div class="comment-buttons-container">
          <button class="like comment-button">
            <img class="flex-item post-button-icon" src="./assets/icons/like-icon-gray.svg"
                 alt="Like icon">
            <div class="number">0</div>
            <div class="text">Like</div>
          </button>
          <button class="reply comment-button">
            <img class="flex-item post-button-icon" src="./assets/icons/reply-icon.svg"
                 alt="Like icon">
            <div class="text">Reply</div>
          </button>
          <button class="report comment-button">
            <img class="flex-item post-button-icon" src="./assets/icons/3points-gray.svg"
                 alt="Report icon">
          </button>
        </div>
      </div>
    </div>
    <div class="comment-body"> $$data-body </div>
  </div>
</div>