
agent-page {
    width: calc(50% - 135px);
    height: 100%;
    transition: width 0.3s;
    min-width: 350px;
}

.middle-content {
    position: relative;
    height: 100%;
}
.page-header {
    z-index: 1;
    padding: 20px 40px;
}

.space-container {
    display: flex;
}

.chat-container {
    width: 100%;
    height: 88%;
}

.chat-log {
    overflow: scroll;
    position: relative;
    height: calc(100% - 150px);
}

.chat-background{
    z-index: -1;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}

.conversation {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

.chat-input-container {
    height: 70px;
    margin: 5px 0;
    padding: 0 0 0 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#input {
    max-height: 100px;
    height: 52px;
    min-height: 52px;
    resize: none;
    width: 88%;
    border-radius: 10px;
    border: none;
    background: var(--light-blue);
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
}

#input:focus {
    outline: none;
}

.send-message-btn {
    width: 7%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
}

.conversation {
    padding: 20px;
}


.chat-box-container {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.user:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -22px;
    height: 27px;
    width: 24px;
    border-bottom-right-radius: 68%;
    box-shadow: 11px 0 0 0 var(--white-text);
}

.chat-box {
    padding: 5px 5px 5px 12px;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    font-weight: 400;
    font-size: 16px;
}

.user-box {
    border-radius: 16px 16px 16px 0;
    background: var(--white-text);
}

.robot:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: -22px;
    height: 27px;
    width: 24px;
    border-bottom-left-radius: 68%;
    box-shadow: -11px 0 0 0 var(--light-blue);
}

.robot-box {
    border-radius: 16px 16px 0 16px;
    background: var(--light-blue);
}

.page-logo-section {
    display: flex;
}


.arrow-space {
    padding: 0 5px;
    border-radius: 5px;
}

.arrow-space:hover {
    background: var(--space-hover);
}

.reset-conversation {
    padding: 10px;
    background-color: var(--medium-blue);
    color: white;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    min-width: 150px;
}

.select-personality-container{
    margin-left: 10px;
    position: relative;
    display: flex;
    cursor: pointer;
    background-color: #A5D0F430;
    border-radius: 10px;
    border-color: #0000000D;
    padding: 5px 5px 5px 8px;
}
.current-personality-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
.breadcrumbs {
    color: var(--medium-blue);
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-right: 5px;
    margin-left: 5px;
}
.personalities-list-container {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    flex-direction: column;
    right: 10px;
}
.personalities-list{
    max-height: 150px;
    min-width: 150px;
    overflow: auto;
    width: max-content;
    background-color: white;
}
.personalities-list > *{
    padding: 5px 5px 5px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
}
.add-personality-btn{
    outline: none;
    border: none;
    background: none;
    color: var(--medium-blue);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.rotated{
    transform: rotate(-90deg);
}
.personality-card {
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    display: flex;
    justify-content: center;
    color:   var(--medium-blue);
    align-items: center;
}
.personality-card:hover{
    cursor: pointer;
}
.personality-name{
    margin-left: 10px;
}


.select-llm-container{
    margin-left: 10px;
    position: relative;
    display: flex;
    cursor: pointer;
    background-color: #A5D0F430;
    border-radius: 10px;
    border-color: #0000000D;
    padding: 5px 5px 5px 8px;
}
.current-llm-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
.llms-list {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    flex-direction: column;
    right: 10px;
    max-height: 150px;
    min-width: 150px;
    overflow: auto;
    width: max-content;
    background-color: white;
}
.llms-list > *{
    padding: 5px 5px 5px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
}
.add-llm-btn{
    outline: none;
    border: none;
    background: none;
    color: var(--medium-blue);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.llm-card {
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    display: flex;
    justify-content: center;
    color:   var(--medium-blue);
    align-items: center;
}
.llm-card:hover{
    cursor: pointer;
}
.llm-name{
    margin-left: 10px;
}