space-page{
    display:flex;
    height:100%;
    width:100%;
}
.space-page{
    height:100%;
    width:100%;
}
.navbar {
    display: flex;
    background-color: var(--navbackground);
    padding-top: 6px;
}

.navbar-box {
    background: var(--white-text);
    position: relative;
    display: flex;
}

.navbar-box::before {
    position: absolute;
    content: '';
    height: 50%;
    align-self: center;
    bottom: 10px;
    border-right: 1px solid var(--navbarbox);
}

.navbar-box::before:first-child {
    border: none;
}

.navbar-box:first-child::before {
    border: none;
}

.navbar-item {
    background-color: var(--navbackground);
}

.tab-margin-left {
    background-color: var(--navbackground);
    height: 100%;
    width: 12px;
}

.tab-margin-right {
    background-color: var(--navbackground);
    height: 100%;
    width: 12px;
}

.tab {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    color: var(--space-tab);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.54px;
}

.navbar-box:hover {
    background-color: var(--tab-hover);

    .tab-margin-left {
        border-bottom-right-radius: 12px;
    }

    .tab-margin-right {
        border-bottom-left-radius: 12px;
    }

    .navbar-item {
        background-color: var(--navbackground);
    }

    .tab {
        cursor: pointer;
        background-color:var(--tab-hover);
        color: var(--left-sidebar);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.selected-tab {
    background-color: var(--white-text);
    .tab-margin-left {
        border-bottom-right-radius: 12px;
    }

    .tab-margin-right {
        border-bottom-left-radius: 12px;
    }

    .tab {
        cursor: default;
        padding: 5px 12px;
        background-color: var(--white-text);
        letter-spacing: 0.54px;
        color:  var(--left-sidebar);
    }
}
.header-space-name{
    margin: 15px 15px 15px 25px;
    font-weight: 700;
    font-size: 28px;
    color:  var(--left-sidebar);
}