personalities-page {
    overflow: scroll;
}
#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#import-personality-btn{
    margin-right:40px;
}
.personalities-header{
    font-size: 26px;
    font-weight: 600;
    padding: 20px;
}
.line-separator{
    margin-top: 0;
    border: none;
    height: 2px;
    background: var(--very-light-gray);
}
.table {
    height: calc(100% - 78px);
    overflow: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: var(--white);
    color: var(--user-text);
}
.add-personality-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.square-container {
    border: 6px solid var(--medium-blue);
    border-radius: 9px;
    width: 130px;
    height: 130px;
    display: grid;
    place-items: center;
    grid-template-areas:"inner-div";
}

.square-container:hover {
    cursor: pointer;
}

.horizontal-line {
    margin: 25px;
    background-color: var(--medium-blue);
    width: 64px;
    height: 9px;
    grid-area: inner-div;
}

.vertical-line {
    margin: 25px;
    background-color: var(--medium-blue);
    width: 9px;
    height: 64px;
    grid-area: inner-div;
}

.text {
    font-weight: 500;
    font-size: 22px;
}

.button-text {
    color: var(--medium-blue);
}
