
add-space-collaborator-modal {
    display:flex;
    flex-direction:column;
    width:400px;
}
.collab-unit{
    display: flex;
    align-items: center;
}
.collabs-list{
    margin: 0 10px 10px 10px;
    overflow: auto;
}
.add-collab{
    display: flex;
    align-items: center;
    color: var(--blue-button);
}
.collab-title{
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}
.modal-body {
    padding: 10px 10px 20px 10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    overflow: auto;
}
#form-item-box{
    display: flex;
    align-items:center;
}
.margin{
    margin-left: 96px;
}

.form-input {
    width: initial;
}
.select-role{
    width: 100%;
    background-color: var(--white);
    margin: 4px 0 8px 20px;
    padding: 8px;
    border: 0.5px solid var(--lighter-black);
}
