dialog{
    font-family: Poppins, serif;
    width: 300px;
}
edit-apikey-modal{
    display: flex;
    flex-direction:column;
}
.edit-apikey-form{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-input:focus {
    color: var(--gray-black);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
}

