
add-space-collaborator-modal {
    display:flex;
    flex-direction:column;
    position: relative;
    padding: 20px;
    width: 856px;
    height: 448px
}
.collab-unit{
    display: flex;
    align-items: center;
    gap:12px;
}
.collabs-list{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin: 0 10px 10px 0;
    overflow: auto;
}
.add-collab{
    display: flex;
    align-items: center;
    color: var(--strong-blue);
}
.collab-title{
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}
.modal-body {
    padding: 10px 10px 20px 10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    overflow: auto;
}
#form-item-box{
    display: flex;
    align-items:center;
}
.margin{
    margin-left: 112px;
}

.form-input {
    width: initial;
    padding: var(--button-padding);
}
.select-role{
    width: 100%;
}
