space-right-sidebar{
    width: 270px;
}
.personalities-page{
    width: calc(100% - 270px);
}
.right-sidebar{
    padding: 20px;
    background: white;
}
.sidebar-item{
    padding: 10px;
}
.sidebar-item-title{
    margin-left: 10px;
    color: var(--left-sidebar);
    font-weight: 600;
}