confirmation-popup {
    white-space: initial;
    margin-top:-12px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 25px;
    transform: translate(-50%, -50%);
    padding-top: 6px;
    background-color: black;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}
.popup-text{
    line-height: initial;
    letter-spacing: normal;
    white-space: unset;
    color: #fff;
    font-size: 10px;
}
.triangle-down {
    margin-top: 1px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}