my-account{
    height: 100%;
    overflow-y: auto;
}
.page-body{
    display: flex;
}
.myAccountContainer {
    position:relative;
    display: flex;
    padding: 10px 40px;
    flex-direction: column;
    width: 50%;
    gap: 30px;
}
.preferences-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
}
.user-logs{
    margin-top: 10px;
    overflow-y: auto;
    height: 500px;
    border: 1px solid var(--form-input-border);
    border-radius: 5px;
    padding: 10px;
    color: var(--default-font-color);
}
.accountData .general-button{
    margin-block-start:16px;
}
.accountData {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-header {
    font-weight: 700;
    font-size: 20px;
    color: var(--default-font-color);
}
.accountDataValue{
    display:flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: left;
    gap:12px;
    color: #000000;
}
.multi-value{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.underlined{
    border-bottom: 1px solid #EFEFEF;
    padding-bottom:4px;
}
svg{
    cursor:pointer;
}
.accountFooter{
    position:absolute;
    bottom:20px;
}
.tickets-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tickets-button{
    width: fit-content;
}
.section-header{
    font-weight: 700;
    font-size: 20px;
    color: var(--default-font-color);
}
.ticket{
    border-bottom: 1px solid var(--light-gray-border);
    padding: 10px;
    position: relative;
}
.ticket.resolved{
    background-color: var(--inactive-element);
}
.resolved-icon{
    display: none;
}
.ticket.resolved .resolved-icon{
    display: block;
}
.ticket-preview{
    display: flex;
    gap: 20px;
    align-items: center;
}
.ticket-info{
    width: 300px;
    color: var(--default-font-color);
}
.view-ticket{
    cursor: pointer;
    text-decoration: underline;
}
#delete-space-button {
    width: 174px;
    height: 44px;
    background: var(--red);
    gap: 10px;
    padding: 14px;
    margin-block-start:20px;
    border: 1px solid var(--red);
    border-radius: 2px;
}