* {
    font-family: Poppins;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

authentication-page{
    height: 100%;
    width:100%;
}

.content-container {
    height: 100%;
    display: flex;
    width:100%;

}

.slideshow-container {
    width: 66%;
}

.images {
    height: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.slides {
    width: 100%;
    display: none;
}

.controls{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
}
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*.slideshow-container > img {*/
/*    max-width: 650px;*/
/*}*/

.form-container {
    width: 34%;
    padding: 80px 100px 80px 100px;
}

.form-title {
    padding: 20px 0 20px 0;
    font-weight: bold;
}

.form-label {
    color: black;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
}

.form-input {
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    width: 100%;
    margin: 8px 0 16px;
    padding: 8px;
}

.item-has-focus {
    --full-highlight-height: none;
    --inset-highlight-height: none;
}

.form-footer {
    display: flex;
    justify-content: center;
}

.wide-btn {
    width: 70%;
    height: 36px;
    background: #A42E70;
    color: white;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin: 16px 0;
    border: none;
}

.wide-btn:hover {
    cursor: pointer;
}

.logo-container {
    display: flex;
    justify-content: center;
}

/*Login page/ Landing page*/
.suggest-registration {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: -5px;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 700;
    color: #004A8D;
    padding-bottom: 20px;
    margin-top: -5px;
}

.forgot-password:hover {
    cursor: pointer;
}

.sign-up {
    padding-left: 3px;
    font-weight: 700;
    color: #004A8D;
}

.sign-up:hover {
    cursor: pointer;
}

/*Register confirmation, Password recovery confirmation */
.development-mode {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #004A8D;
}

.development-mode:hover {
    cursor: pointer;
}

/*Password recovery*/
.form-description {
    margin-top: -10px;
    padding-bottom: 20px;
}