* {
    font-family: Poppins;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

authentication-page{
    height: 100%;
}

.content-container {
    height: 100%;
    display: flex;

}

.img-container {
    background: linear-gradient(180deg, #7A2153 0%, #A42E70 100%);
    width: 66%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.img-container > img {
    max-width: 650px;
}

.form-container {
    width: 34%;
    padding: 80px 100px 80px 100px;
}

.form-title {
    padding: 20px 0 20px 0;
    font-weight: bold;
}

.form-label {
    color: black;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
}

.form-input {
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    width: 100%;
    margin: 8px 0 16px;
    padding: 8px;
}

.item-has-focus {
    --full-highlight-height: none;
    --inset-highlight-height: none;
}

.form-footer {
    display: flex;
    justify-content: center;
}

.wide-btn {
    width: 70%;
    height: 36px;
    background: #A42E70;
    color: white;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin: 16px 0;
    border: none;
}

.wide-btn:hover {
    cursor: pointer;
}

.logo-container {
    display: flex;
    justify-content: center;
}

/*Login page/ Landing page*/
.suggest-registration {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: -5px;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 700;
    color: #004A8D;
    padding-bottom: 20px;
    margin-top: -5px;
}

.forgot-password:hover {
    cursor: pointer;
}

.sign-up {
    padding-left: 3px;
    font-weight: 700;
    color: #004A8D;
}

.sign-up:hover {
    cursor: pointer;
}

/*Register confirmation, Password recovery confirmation */
.development-mode {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #004A8D;
}

.development-mode:hover {
    cursor: pointer;
}

/*Password recovery*/
.form-description {
    margin-top: -10px;
    padding-bottom: 20px;
}