simple-unit:hover > .simple-unit{
    cursor: pointer;
    background-color: var(--black);
}
simple-unit{
    width:100%;
}
.simple-unit {
    width: calc(100% - 10px);
    padding: 5px 0;
    border-radius: 8px;
    margin: 0 5px;
    display: flex;
    align-items: center;
}
.simple-unit-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: 10px;
}