.chapter-title-section {
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 10px 0;
    line-height: normal;
}

.arrow {
    cursor: pointer;
    transition-duration: 0.3s;
}

.hidden {
    display: none;
}

.chapter-item {
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.chapter-content {
    margin-top: -10px;
    min-width: 0;
    text-align: justify;
    justify-content: start;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.chapter-arrows {
    margin-left: 20px;
}

.up, .down {
    visibility: hidden;
}

.chapter-item:hover .up,
.chapter-item:hover .down {
    visibility: visible;
    cursor: pointer;
}

#selected-chapter .chapter-item,
.chapter-item:focus {
    background-color: rgba(148, 174, 227, 0.3);
    color: #252525;
    font-weight: 450;
}

.chapter-title {
    margin-left: 10px;
}