.chapter-title-section {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--light-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding:10px;
    line-height: normal;
}

.arrow {
    cursor: pointer;
    transition-duration: 0.3s;
}
.delete-chapter{
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.chapter-title:focus{
    outline:none;
    background-color:var(--white-text);
    border-radius:3px;
}

.ten-px-margin-left{
    margin-left:10px;
}
.chapter-unit {
    cursor: default;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width:100%;
}

.chapter-content {
    margin-top: -10px;
    min-width: 0;
    text-align: justify;
    justify-content: start;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.chapter-arrows {
    display:flex;
    width:42px;
    min-width:42px;
    justify-content: space-between;
    margin-left: 10px;
    cursor: pointer;
}


.chapter-arrows{display:none;}

.chapter-paragraphs:focus {
    background-color: var(--harsh-gray);
    color: var(--light-black);
    font-weight: 450;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    margin: 0;
}

.chapter-paragraphs:focus p {
    margin: 0;
    padding: 0;
}

.chapter-paragraphs:focus paragraph-unit {
    margin: 0;
    padding: 0;
}

.chapter-paragraphs:focus .paragraph-unit {
    margin: 0;
    padding: 0;
}

.chapter-paragraphs:focus .paragraph-unit p {
    margin: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.hidden{
    display: none;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chapter-title {
    width: calc(100% - 95px);
    padding: 5px 5px 5px 5px;
    margin-left:3px;
    display: inline-block;
}
.chapter-text,.chapter-unit{
    width:100%;
}

.chapter-paragraphs {
    width: 100%;
}

.chapter-paragraphs:hover {
    cursor: text;
}

.chapter-content {
    width: 100%;
}

#highlighted-chapter{
    background-color:var(--medium-white);
}
.data-chapter-number{
    width:17px;
}