dialog{
    padding: 0;
    border: none;
}

.modal-body {
    padding: 0 30px;
}

.modal-header{
    padding: 5px 20px 5px 20px;
    margin-bottom: 5px;
    background: var(--strong-blue);
    display: flex;
    justify-content: space-between;
}


.close {
    padding: 0;
    font-weight: 300;
    color: var(--white-text);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
}


.modal-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}