
.table-header {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-start;
    color: #363C44;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.table-name{
    width: 31.5%;
    margin-bottom: 10px;
}
.table-permissions{
    margin-bottom: 10px;
}

.task{
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid rgba(217, 212, 238, 0.85);
    color: #494949;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}