<link rel="stylesheet" href="./wallet/components/modals/suggest-abstract-modal/suggest-abstract-modal.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-abstract">
                Suggested Abstract:
                <button type="button" class="close" data-local-action="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div>
                      $$suggestedAbstract
                    </div>
                <div class="modal-footer">
                    <button class="wide-btn" data-local-action="addSelectedAbstract"> Accept </button>
                </div>
            </form>
        </div>
    </div>
</div>