edit-variable-value{
    display: block;
    min-width: 700px;
}
#value{
    height: 200px;
}
edit-variable-value .form-item{
    margin-bottom: 20px;
}
edit-variable-value .modal-footer{
    margin-top: 55px;
    display: flex;
}
edit-variable-value .table-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
}
.table{
    display: grid;
    overflow: auto;
}
.table::-webkit-scrollbar-thumb {
    background-color: var(--plugin-focus);
}

.table::-webkit-scrollbar-track {
    background: var(--action-button-background);
}
.table::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}
.table::-webkit-scrollbar {
    display: block;
}
edit-variable-value .cell {
    display: flex;
    align-items: center;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-bottom: 1px solid var(--light-gray-border);
    border-right: 1px solid var(--light-gray-border);
    height: 41px;
}
edit-variable-value .cell.read-only {
    pointer-events: none;
    background-color: var(--inactive-element);
}
edit-variable-value .cell.table-header{
    border-top: 1px solid var(--light-gray-border);
    border-bottom: 3px solid var(--light-gray-border);
    min-width: 222px;
}
edit-variable-value .first-column-cell{
    border-left: 1px solid var(--light-gray-border);
}
edit-variable-value input.cell:focus {
    border-color: var(--strong-blue);
    outline: 2px solid var(--strong-blue);
    outline-offset: -2px;
}
.context-menu{
    position: fixed;
    border-radius: 5px;
    z-index: 1;
    border: 1px solid var(--form-input-border);
    background-color: var(--white);
}
.action{
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
.action:hover{
    background-color: var(--option-hover);
}