edit-variable-value{
    display: block;
    width: 700px;
}
#value{
    height: 200px;
}
edit-variable-value .form-item{
    margin-bottom: 20px;
}
edit-variable-value .modal-footer{
    margin-top: 55px;
    display: flex;
}
edit-variable-value .cell {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-bottom: 1px solid var(--light-gray-border);
}