<div class="tor-header-container">
  <div class="tor-title-container">
    <img class="tor-visibility-arrow pointer unfocusable black-icon"
         data-local-action="toggleTorVisibility"
         src="./wallet/assets/icons/arrow-down.svg"
         alt="toggle tor">
    <h3 class="tor-header">References</h3>
    <div class="tor-actions">
      <img data-local-action="addReference" class="black-icon pointer" loading="lazy" src="./wallet/assets/icons/square-plus.svg" alt="icon">
      <img data-local-action="deleteTable" src="./wallet/assets/icons/trash-can.svg" alt="close tor" loading="lazy" class="pointer black-icon">
    </div>
  </div>
</div>
<div class="tor-content"></div>