.document-title {
    margin-bottom: 20px;
    color: #252525;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.abstract-subtitle {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.abstract-content {
    text-align: justify;
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.doc-page-by-title {
    display: flex;
}

.right-sidebar {
    height: 100%;
    width: 12em;
}

.document-content {
    margin-right: 12em;
    padding-right: 10px;
}

.sidebar-item {
    color: #7F7F7F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    margin-right: 10px;
}

.sidebar-item:hover {
    border-radius: 5px;
    background: #EBEBEB;
    color: #191919;
}

.item-list {
    display: block;
    height: 100%;
    min-height: 100%;
    white-space: nowrap;
    padding-left: 10px;
    width: inherit;
    position: fixed;
    right: 0;
    margin-left: 10px;
    border-left: 1px solid #E6E6E6;
    margin-top: 10px;
}

.document-path {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.path-button {
    color: #121212;
    font-family: Poppins;
    font-size: 14px;
    margin: 0 5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.document-path svg {
    margin: 5px;
}