chat-page {
    display:flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    min-width: 0;
}

.space-controls {
    z-index: 10;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:8px;
    border-radius: 10px;
    border: 2px solid var(--chat-header-border);
}
.chats {
    display: flex;
    height: 100%;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
.chats__right,.chats__left{
    display: flex;
    align-items:center;
    height: 100%;
    gap:6px;
    overflow: auto;
}
.chats__button{
    cursor:pointer;
}

.selected-chat {
    border-radius: 10px;
}

.current-personality {
    display: flex;
    align-items: center;
}

.current-personality-name {
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    margin-left: 5px;
    margin-right: 5px;
}

.personalities-list {
    padding: 5px 0;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    border-radius: 10px;
    height: fit-content;
    max-height: 30vh;
    display: none;
    top: 70px;
    left: 10px;
    background-color: var(--white);
    position: absolute;
    z-index: 1;
    flex-direction: column;
    width: fit-content;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: #888 #f1f1f1;
}

.personalities-list::-webkit-scrollbar {
    display: block;
}

.personalities-list > * {
    display: flex;
    justify-content: start;
    align-items: center;
}

.rotated {
    transform: rotate(-90deg);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.3s;
    border-radius: 34px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    left: 3px;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.label-on,
.label-off {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    pointer-events: none;
}

.label-on {
    left: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.label-off {
    right: 8px;
    opacity: 1;
    transition: opacity 0.2s;
}

input:checked + .slider {
    background-color: #4f46e5;
}

input:checked + .slider::before {
    transform: translateX(30px);
}

input:checked + .slider .label-on {
    opacity: 1;
}

input:checked + .slider .label-off {
    opacity: 0;
}
.middle-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
}

.middle-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #F3F3F3;
    z-index: -2;
}

.arrow {
    cursor: pointer;
    font-weight: 600;
}
.chat-container {
    width: 100%;
    height: 88%;
}

.chat-log {
    position: relative;
}

.chat-background {
    z-index: -1;
    opacity: 0.05;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}


.chat-input-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: sticky;
    padding:5px;
    padding-block-start:10px;
    padding-block-end: 10px;
}
.agent-on {
    background-color: #3478C6;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.agent-off {
    background-color: #5a6268;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#chat:hover::after,
#llm:hover::after {
    visibility: visible;
    opacity: 1;
}
#chat::after{
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    position: absolute;
    top:40px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#stopLastStream {
    background-color: #3478C6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
}

#stopLastStream:hover {
    background-color: #2d6bb1;
}

#stopLastStream:active {
    transform: scale(0.95);
}

#stopLastStream svg {
    width: 20px;
    height: 20px;
    fill: white;
}

#llm::after{
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    position: absolute;
    top:25px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#options-menu{
    display:flex;
    height:80%;
    width:110px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-container {
    display: flex;
    align-items: center;
    margin-inline-start:15px;
    margin-inline-end:15px;
    padding-inline-start:10px;
    background: white;
    border-radius: 6px;
    min-height: 60px;
    width: 100%;
}

#input {
    min-height: 60px;
    max-height: 500px;
    height:100%;
    resize: none;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
}

.attach-file {
    cursor: pointer;
}

.conversation {
    display:flex;
    padding-inline-start:4px;
    padding-inline-end:4px;
    gap: 8px;
    flex-direction:column;
    overflow-y: scroll;
    height: 100%;
}

.conversation > :last-child {
    margin-block-end:20px;
}

#stopLastStream{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    right:20px;
    width:35px;
    height:35px;
}

.page-logo-section {
    display: flex;
}


.arrow-space {
    padding: 0 5px;
    border-radius: 5px;
}

.arrow-space:hover {
    background:  black;
}

.select-settings-container {
    border-radius: 10px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
}

.settings-list-container {
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 0px 1px 5.5px 0px #65666754;
    display: none;
    position: absolute;
    z-index: 1;
    left:0;
    bottom:0px;
    flex-direction: column;
    background-color: white;
}

.settings-list-container > div {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #0C5C9E;
}

.settings-list-container > div:hover {
    background-color: #A5D0F430;
}
